﻿<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <title>Dynamic Pole Configuration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">


    <!--Start CSS-->
    <link href="~/_pagelayout/Client/dist/css/icons.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="~/_pagelayout/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/_pagelayout/Content/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/_pagelayout/css/style.css" rel="stylesheet">
    <link href="~/_pagelayout/css/themes/infragistics/infragistics.theme.css" rel="stylesheet">

    <link href="~/_pagelayout/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="~/_pagelayout/css/structure/infragistics.css" rel="stylesheet">
    <link href="~/_pagelayout/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <link href="~/_pagelayout/External/Css/ipsgroup-library.css" rel="stylesheet" />
    @*<link href="https://dev.lib.ipsmetersystems.com/v3.1/css/ipsgroup-library.css" rel="stylesheet" type="text/css">*@
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker-bs3.css">

    <!--End CSS-->
    <!-- Magicsearch Auto Complete CSS -->
    <link href="~/_pagelayout/css/AutoComplete/jquery.magicsearch.css" rel="stylesheet">
    <link href="~/_pagelayout/css/AutoComplete/normalize.css" rel="stylesheet">


    <link rel="stylesheet" href="~/_pagelayout/css/fm.scrollator.jquery.css">


    <style>
        html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 99%;
            vertical-align: baseline;
            background: transparent;
        }

        .active {
            /*background-color: #bcbcbc !important;*/
        }

        .ui-tabs .ui-tabs-nav li.ui-state-active {
            border-color: #004F5B !important
        }

        #mydiv {
            /*height: 400px;*/
            position: relative;
            /*background-color: white;  for demonstration */
            overflow: hidden;
        }

        .ajax-loader {
            position: absolute;
            left: 0;
            top: -10px;
            right: 0;
            bottom: 0;
            margin: auto; /* presto! */
        }

        input[type=text]:focus {
            border: 1px solid #1E90FF;
            box-shadow: 0 0 10px #719ECE;
        }


        .ipsg-menu-collapse .ipsg-main-nav .ipsg-nav .ipsg-nav-items {
            position: fixed;
        }

        .search-text .ipsg-widget_button, .ipsg-widget_search .ipsg-widget_button {
            margin-top: 0px;
        }



        #topRight {
            position: absolute;
            top: 5px;
            right: 150px;
            width: 50px;
            height: 50px;
            border: solid 1px #e1e1e1;
            vertical-align: middle;
            background: DarkViolet;
            -moz-border-radius: 50px;
            -webkit-border-radius: 50px;
            border-radius: 50px;
            text-align: center;
            opacity: 0.5;
            z-index: 100;
            color: white;
        }

        .ipsg-main-content .ipsg-body {
            padding: 0px 0px !important;
        }
    </style>


    <!--Start JS-->




    <script src="~/_pagelayout/External/Js/jquery.js"></script>
    <script src="~/_pagelayout/External/Js/jquery-ui.js"></script>
    <script src="~/_pagelayout/External/Js/jquery.collapse.js"></script>
    <script src="~/_pagelayout/External/Js/jquery.collapse_storage.js"></script>
    <script src="~/_pagelayout/External/Js/navigation.js"></script>
    @*<script type="text/javascript" src="https://dev.lib.ipsmetersystems.com/v3.1/javascript/new/jquery.js"></script>
        <script type="text/javascript" src="https://dev.lib.ipsmetersystems.com/v3.1/javascript/new/jquery-ui.js"></script>


        <script type="text/javascript" src="https://dev.lib.ipsmetersystems.com/v3.1/javascript/new/jquery.collapse.js"></script>
        <script type="text/javascript" src="https://dev.lib.ipsmetersystems.com/v3.1/javascript/new/jquery.collapse_storage.js"></script>
        <script type="text/javascript" src="https://dev.lib.ipsmetersystems.com/v3.1/javascript/new/navigation.js"></script>*@


    <script type="text/javascript" src="~/_pagelayout/Scripts/global.js"></script>
    <script type="text/javascript" src="~/_pagelayout/Scripts/network.js"></script>

    <script src="~/_pagelayout/js/infragistics.core.js"></script>
    <script src="~/_pagelayout/js/infragistics.lob.js"></script>

    <script src="~/_pagelayout/Scripts/jquery.validate.min.js"></script>
    <script src="~/_pagelayout/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/2.9.0/moment.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/1/daterangepicker.js"></script>


    <script type="text/javascript" src="~/_pagelayout/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/_pagelayout/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" type="text/javascript"></script>

    <script src="/js/Loader.js"></script>

    <script src="~/_pagelayout/js/custom.js"></script>
    <script type="text/javascript" src="~/_pagelayout/js/fm.scrollator.jquery.js"></script>
    <script src="~/_pagelayout/js/Autocompletejs/jquery.magicsearch.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.js"></script>
    <script src="~/_pagelayout/js/CustomJS/LayOutEvents.js"></script>
    <script src="~/_pagelayout/js/CustomJS/LayOutDesign.js"></script>
    <script src="~/_pagelayout/Scripts/shortcut.js"></script>
    <script src="~/_pagelayout/Client/js/Config.js"></script>


    <style id="fakediscoveryelementstyle">
        fakediscoveryelement {
            display: block;
            position: absolute;
            box-sizing: content-box;
            -moz-box-sizing: content-box;
            margin: -4321px;
            color: rgb(3, 2, 1);
            border-style: solid;
            border-color: rgb(3, 2, 1);
            background-color: rgb(3, 2, 1);
            background-image: none;
            border-width: 4321px;
            border-radius: 4321px;
            vertical-align: baseline;
            text-align: justify;
            opacity: 0.888;
            visibility: hidden;
            padding: 4321px;
            width: 4321px;
            height: 4321px;
        }
    </style>
    <script async="" src="https://script.hotjar.com/modules-b4b50aa474eaa7a39e3ccc9eed6884eb.js"></script>
    <style type="text/css">
        iframe#_hjRemoteVarsFrame {
            display: none !important;
            width: 1px !important;
            height: 1px !important;
            opacity: 0 !important;
            pointer-events: none !important;
        }

        .ipsg-nav-items span a {
            height: auto !important;
        }

        #gridSimpleFiltering > thead > tr > th:first-child {
            text-align: left;
        }

        #gridSimpleFiltering > tbody > tr > td:first-child {
            text-align: left;
        }

        .TabMenu {
            padding-bottom: 2%;
            padding-left: 0;
        }
        .Objectborder {
            border: 1px solid #23b7ce;
            padding: 5px;
            margin-bottom: 5px;
            margin-top:5px;
        }
    </style>
</head>
<body class="hold-transition skin-yellow sidebar-mini">
    <div id="appMenuContainer" style="width: 100%; display:none; margin-top:0px; padding-bottom: 20px;"></div>



    <div style="padding:0px;" class="ipsg-container container-fluid" id="hambuger">
        <a id="logo-ips" style="margin-top: 1px; position: relative;" href="/Home/HomePage">
            <img src="http://lib.ipsmetersystems.com/v3/images/Logo.svg" style="margin-top: 1px; position: absolute; margin-left: 55px; z-index: 100;">
        </a>
        <div class="ipsg-column ipsg-main-nav">
            <div class="ipsg-logo">
                <div class="ipsg-logo">
                    <div class="ipsg-logo-menu-btn" id="menuHamburger"><img src="http://lib.ipsmetersystems.com/v3/images/Hamburger.svg" style="padding: 20px 0px 20px 20px; padding-left: 10px;"></div>
                </div>

            </div>
            <div class="ipsg-user">
                <div class="ipsg-user-icon icon-thin-0701_user_profile_avatar_man_male"></div>
                <div class="ipsg-user-info">
                    <span id="customername" class="bolded">Mayank Parmar</span>
                    <span id="username">IPS Group</span>
                </div>
                <div class="ipsg-user-select2" style="visibility:hidden">


                </div>
            </div>
            <div class="ipsg-tabs-group ui-tabs ui-widget ui-widget-content ui-corner-all" id="ipsg-tabs" style="padding:0px;">
                <ul class="ipsg-tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                    <li class="ipsg-tab ui-state-default ui-corner-top ui-tabs-active ui-state-active" title="" style="width:50px" role="tab" tabindex="0" aria-controls="ipsg-tab-1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true" data-original-title="List"><a href="#ipsg-tab-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1"><img src="/_pagelayout/img/Side_Menu/Icon Font_list.png"></a></li>

                    <li class="ipsg-tab" title="" style="width:50px" data-original-title="Info">



                        <img src="/_pagelayout/img/Side_Menu/Icon Font_information.png">

                    </li>

                </ul>
                <div class="ipsg-nav sg-accordion ui-tabs-panel ui-widget-content ui-corner-bottom" style="padding:0px;" id="ipsg-tab-1" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
                    <form>
                        <h3>
                            <a href="@Url.Action("Index","Config")">
                                <span style="margin-top: 5px;" class="ipsg-nav-icon icon-font-dashboard"></span>
                                <span class="ipsg-nav-text">Manage Pole Configuration</span><span class="ipsg-nav-arrow"></span>
                            </a>
                        </h3>
                    </form>
                    <form>
                        <h3>
                            <a href="@Url.Action("Index","Config")">
                                <span style="margin-top: 5px;" class="ipsg-nav-icon icon-font-exit"></span>
                                <span class="ipsg-nav-text">Logout</span><span class="ipsg-nav-arrow"></span>
                            </a>
                        </h3>
                    </form>
                </div>
            </div>

        </div>

        <div class="ipsg-column ipsg-main-content">
            <div class="ipsg-search">
                <div class="pull-left col-lg-9 col-md-9 col-sm-8 col-xs-8">

                </div>
                <div style="height: 36px;" class="pull-right">
                    <img id="appMenuLogo" style="cursor: pointer; margin-top: 20px; display: inline; margin-right: 25px;" src="http://lib.ipsmetersystems.com/v3/images/Waffle.svg" height="26">
                </div>
                <div class="HeaderAppName pull-right" style="margin-top: 20px;">
                    <img src="http://lib.ipsmetersystems.com/v3/images/RMA-Color.svg" style="font-size: 24px;">
                    <span style="vertical-align: super;">SMART METER SYSTEM INFORMATION</span>
                </div>

            </div>



            <div class="ipsg-body">

                <div id="mydiv">
                    <form action="/Advance/SmartSearch" method="post" style="visibility:hidden">
                        <div class="ipsg-widget_search form-inline pull-right" style="z-index: 2000;">
                            <div class="form-group ipsg-widget_input-box" style="width: 300px; z-index: 2000; margin-top: 36px;">
                                <input type="text" class="form-control" placeholder="Smart Search..." id="searchText" name="searchText" min="4">
                            </div>
                            <button type="submit" class="btn btn-default ipsg-widget_button" style="z-index: 2000; height: 34px; margin-top: 36px; margin-right: 22px;">SEARCH</button>
                        </div>
                    </form>
                    @RenderBody()
                    <img style="display:none;" class="ajax-loader" src="/img/loader.gif">
                </div>
                @RenderSection("scripts", required: false)


            </div>



        </div>
    </div>
   
    <script src="~/_pagelayout/External/Js/bootstrap.js"></script>
    <script src="~/_pagelayout/External/Js/appMenu.js"></script>

    @*<script type="text/javascript" src="https://dev.lib.ipsmetersystems.com/v3/javascript/new/bootstrap.js"></script>
        <script type="text/javascript" src="https://dev.lib.ipsmetersystems.com/v3/javascript/new/appMenu.js"></script>*@

    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Chrome","requestId":"d8acb40e12ec4900a863e125ba9c3f5d"}
    </script>
    <script type="text/javascript" src="https://localhost:44398/c1531d826a154567ac679cd6a66c7579/browserLink" async="async"></script>
    <!-- End Browser Link -->
    <!-- /#wrapper -->
    <script>
        $(document).ready(function () {
            setNavigation();
            $("#hambuger").click(function () {
                var hambuger = $("#hambuger").attr("class");
                if (hambuger.indexOf('ipsg-menu-collapse') > -1) {
                    //$(".ips_icon").css({ "padding": "10px" });
                    $("#myTable").css({ "width": "100%" });
                } else {
                    setNavigation();
                    $(".ips_icon").css({ "padding": "0px" });
                }
            });
            $(".ObjectMenuList li:first-child").click();
            $(".ObjectMenuList li:first-child").addClass("active");
        });
        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);
            $(".ipsg-nav-items a").each(function () {
                var href = $(this).attr('href');
                if (path.substring(0, href.length) === href) {
                    $(this).closest('li').addClass('active');
                    //state-selected
                    $(this).parent().parent().parent().prev().addClass('state-selected');
                    $(this).parent().parent().parent().css({ "display": "block" });
                }
            });
        }
    </script>
    <script>

        $(document).ready(function () {
            if (window.matchMedia('(max-width: 768px)').matches) {
                $("#hambuger").addClass("ipsg-menu-collapse");
            } else {
                $("#hambuger").removeClass("ipsg-menu-collapse");
            }
        });

        $(document).ready(function () {

            $(".conform_delete").click(function () {
                ConformDelete();
            });

            setNavigation();
            $("#hambuger").click(function () {
                var hambuger = $("#hambuger").attr("class");
                if (hambuger.indexOf('ipsg-menu-collapse') > -1) {
                    $(".ips_icon").css({ "padding": "10px" });
                    $("#myTable").css({ "width": "100%" });
                } else {
                    setNavigation();
                    $(".ips_icon").css({ "padding": "0px" });
                }
            });
        });
        function setNavigation() {
            var path = window.location.pathname;
            path = path.replace(/\/$/, "");
            path = decodeURIComponent(path);
            $(".ipsg-nav-items a").each(function () {
                var href = $(this).attr('href');
                if (path.substring(0, href.length) === href) {
                    console.log(this);
                    $(this).addClass('active_h');
                }
            });
        }

        function ConformDelete() {
            if (confirm("Are you sure delete this record!?")) {
                return true;
            } else {
                e.preventDefault();
            }
        }

        //var numInput = $(".checkval");

        //// Listen for input event on numInput.
        //numInput[0].addEventListener('input', function () {
        //    // Let's match only digits.
        //    var num = this.value.match(/^\d+$/);
        //    if (num === null) {
        //        // If we have no match, value will be empty.
        //        this.value = "";
        //    }
        //}, false)
    </script>
    <script>
        var minCount = 0, maxCount = 0, version = 1.0, count = 0, Type='', TemplateId=0, TemplateName='';
        $(document).ready(function () {
           
        });

        ///Use to Create Menu From XML Data
        function BuildMenu(xmlData) {
            $(".ObjectMenuList li").click(function () {
                $(this).addClass('active').siblings().removeClass('active');

            });
            var parser, xmlDoc, newDoc, newxml, list='';
            parser = new DOMParser();
            xmlDoc = parser.parseFromString(xmlData, "text/xml");
            var x = xmlDoc.getElementsByTagName("Section");
            for (var i = 0; i < x.length; i++) {
                var xmlSubNode = x[i];
                list = list + "<li onclick='XmlTemplateDetails(&#39;" + x[i].innerHTML + "&#39;,this);'><a href='javascript:void(0);' >" + x[i].getAttribute('Name') + "</a></li>";

            }
           
            $('.ObjectMenuList').html(list);
         

        }

        ///Use to set Min, Max, Type etc
        function XmlTemplateDetails(xmlDetails,ev) {
            $(".ObjectMenuList li").removeClass('active');
            $(ev).addClass('active');
            
            var parser, xmlDoc;
            minCount = 0, maxCount = 0, DBType = '', XMLType='',count=0;
            parser = new DOMParser();

            xmlDoc = parser.parseFromString(xmlDetails, "text/xml");
            if (xmlDoc.childNodes[0].nodeName == "Array") {
                var arrayNode = xmlDoc.childNodes[0];
                if (arrayNode.hasAttribute("MinCount")) {
                    minCount = xmlDoc.childNodes[0].getAttribute("MinCount");
                }
                if (arrayNode.hasAttribute("maxCount")) {
                    maxCount = xmlDoc.childNodes[0].getAttribute("maxCount");
                }

            }
            version = xmlDoc.getElementsByTagName("object")[0].getAttribute("Version");
            Type = xmlDoc.getElementsByTagName("object")[0].getAttribute("Type");
            var Decription = xmlDoc.getElementsByTagName("object")[0].getAttribute("Description");

            if (xmlDoc.getElementsByTagName("object")[0].children.length > 0) {
               // XMLType = xmlDoc.getElementsByTagName("object")[0].outerHTML;
                XMLType = xmlDoc.getElementsByTagName('Array')[0].outerHTML;
                $('#demo').empty();
                GetXMLTemplate(XMLType);
            }
            else {
                DBType = xmlDoc.getElementsByTagName("object")[0].getAttribute("Type");
                $('#demo').empty();
                GetXMLTemplateOnType(DBType);
            }
        }
        

       
            
        

    </script>
</body>
</html>