﻿
@{
    ViewBag.Title = "TestView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>
        MVC Home
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="box box-warning">
                <div class="box-body">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-11 col-md-11 col-sm-11">
                            <div id="demo"></div>
                            <div id="demofooter"></div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <input type="button" class="btn btn-primary" id="TestApp1" value="AddObject" />
                            <input type="button" class="btn btn-primary" id="TestApp2" value="AddXML" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
<script type="text/javascript">
    var Temp = '<Template Version="1.0" Name="ScriptV1Schema"><Reference Version="1.0" ConfigurationName="" TemplateName="SacEvents" /><Section Name="Rates"><Array><object Version="1.0" Description="Rates" Type="SacRates" /></Array></Section><Section Name="Display Pages"><Array maxCount="9"><object Version="1.0" Description="Rates" Type="DisplayPages" /></Array></Section></Template>';
    var Temp1 = '<Template Version="1.0" Name="SacEvents"><Section Name = "Events" ><Array MinCount="0" maxCount="5"><object Version="1.0" Description="Events" Type="Event"><Date Type="Date"><Year Type="integer" Format="YYYY" /><Day Type="integer" Format="DayOfYear" /></Date><StartTime Type="time"><StartMinute Type="integer" Format="mm" /></StartTime><EndTime Type="time"><EndMinute Type="integer" Format="mm" /></EndTime><GraceTime Type="time"><GraceMinutes Type="integer" /></GraceTime><EventRate Type="integer" /><EventRateString Type="string" /><EventNoticeString Type="string" /></object></Array></Section ><Section Name="Events"><Array MinCount="0" maxCount="5"><object Version="1.0" Description="Events" Type="Event1"><Date Type="Date"><Year Type="integer" Format="YYYY" /><Day Type="integer" Format="DayOfYear" /></Date><StartTime Type="time"><StartMinute Type="integer" Format="mm" /></StartTime><EndTime Type="time"><EndMinute Type="integer" Format="mm" /></EndTime><GraceTime Type="time"><GraceMinutes Type="integer" /></GraceTime><EventRate Type="integer" /><EventRateString Type="string" /><EventNoticeString Type="string" /></object></Array></Section></Template >';
    var FillTemp = '<object><RateStr Type="string">10</RateStr><AboveMinutes Type="integer">10</AboveMinutes><AboveCents Type="integer">10</AboveCents><MNum Type="integer">10</MNum><MDenom Type="integer">10</MDenom><BMinutes Type="integer">10</BMinutes><BCents Type="integer">10</BCents></object>';
    $('#TestApp1').click(function () {
        var parser, xmlDoc, newDoc, newxml, newxml1, newxml2;
        parser = new DOMParser();
        xmlDoc = parser.parseFromString(Temp1, "text/xml");
        newDoc = xmlDoc.getElementsByTagName('object').length;
        newxml1 = parser.parseFromString(FillTemp, "text/xml");
        newxml2 = newxml1.getElementsByTagName('object')[0];
        var ChildrenCount = newxml2.children.length;
        for (var i = 0; i < newDoc; i++) {
            var a = xmlDoc.getElementsByTagName('object')[i];
            if (a.getAttribute("Type") == "Event") {
                newxml = xmlDoc.getElementsByTagName('object')[i];
                alert(newxml.children.length);
                if (ChildrenCount>0) {
                    for (var j = 0; j < ChildrenCount; j++) {
                        newxml.removeChild(newxml.children[0]);
                    }
                    for (var j = 0; j < ChildrenCount; j++) {
                        a.appendChild(newxml2.children[0]);
                    }
                }
            }
        }
        console.log(xmlDoc);
    });

</script>
