﻿.btn-group button {
    width: 100% !important;
    overflow: hidden;
    height: 34px;
    text-align: left;
    border-radius: 4px;
}

.btn-group, .btn-group-vertical { 
    display: block;
}

.dropdown-menu .active label {
    font-size: 13px;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'OpenSans-Semibold';
}

.search_btn {
    height: 42px;
}



.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

    .dropdown-menu.pull-right {
        right: 0;
        left: auto;
    }

    .dropdown-menu .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
    }

        .dropdown-menu > li > a:hover,
        .dropdown-menu > li > a:focus {
            text-decoration: none;
            color: #262626;
            background-color: #f5f5f5;
        }

    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus {
        color: #fff !important;
        text-decoration: none;
        outline: 0;
        background-color: #626264;
    }

    .dropdown-menu > .disabled > a,
    .dropdown-menu > .disabled > a:hover,
    .dropdown-menu > .disabled > a:focus {
        color: #fff;
    }

        .dropdown-menu > .disabled > a:hover,
        .dropdown-menu > .disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: not-allowed;
        }

.open > .dropdown-menu {
    display: block;
    height:400px;
    margin-top: 34px;
}


.open > a {
    outline: 0;
}

.dropdown-menu-right {
    left: auto;
    right: 0;
}

.dropdown-menu-left {
    left: 0;
    right: auto;
}

.dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #999999;
    white-space: nowrap;
}

.dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.topPadding {
    padding-top: 15px;
}

.multiselect-container {
    overflow-y: scroll;
    height: 400%;
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #626264;
    border-color: #555557;
}

.radio label, .checkbox label { 
    padding-left: 0px;
}

.content_citation {
    background-color: #fff;
    color: #000;
    border: 1px solid lightgray;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    /*border-top: none;*/
    font-size: 14px;
}

.margin_bottom {
    margin-bottom: 4%;
}

.check_box {
    background-color: #eee;
    border-radius: 4px;
    color: #000;
    border: 1px solid #a1a1a1;
}

.run_report {
    padding: 7px 39px;
    margin-top: 13%;
}

.DPTo {
    cursor: pointer;
}
