.card {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    background-color: #fff;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, .125);
}
.card-block {
    padding: 1.25rem;
    font-size:13px;
}
.card-block::after {
    content: "";
    display: table;
    clear: both;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 20px;
}
.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-link:hover {
    text-decoration: none;
}
.card-link+.card-link {
    margin-left: 1.25rem;
}
.card>.list-group:first-child .list-group-item:first-child {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}
.card>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.card-header::after {
    content: "";
    display: table;
    clear: both;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.card-footer {
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, .125);
}
.card-footer::after {
    content: "";
    display: table;
    clear: both;
}
.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}
.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0;
}
.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem;
}
.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}
.card-primary .card-footer, .card-primary .card-header {
    background-color: transparent;
}
.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.card-success .card-footer, .card-success .card-header {
    background-color: transparent;
}
.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.card-info .card-footer, .card-info .card-header {
    background-color: transparent;
}
.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.card-warning .card-footer, .card-warning .card-header {
    background-color: transparent;
}
.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}
.card-danger .card-footer, .card-danger .card-header {
    background-color: transparent;
}
.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}
.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}
.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}
.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}
.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}
.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}
.card-inverse .card-footer, .card-inverse .card-header {
    border-color: rgba(255, 255, 255, .2);
}
.card-inverse .card-blockquote, .card-inverse .card-footer, .card-inverse .card-header, .card-inverse .card-title {
    color: #fff;
}
.card-inverse .card-blockquote .blockquote-footer, .card-inverse .card-link, .card-inverse .card-subtitle, .card-inverse .card-text {
    color: rgba(255, 255, 255, .65);
}
.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff;
}
.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}
.card-img {
    border-radius: calc(.25rem - 1px);
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}
.card-img-top {
    border-top-right-radius: calc(.25rem - 1px);
    border-top-left-radius: calc(.25rem - 1px);
}
.card-img-bottom {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}
@media (min-width:576px) {
    .card-deck {
    display: table;
    width: 100%;
    margin-bottom: .75rem;
    table-layout: fixed;
    border-spacing: 1.25rem 0;
}
.card-deck .card {
    display: table-cell;
    margin-bottom: 0;
    vertical-align: top;
}
.card-deck-wrapper {
    margin-right: -1.25rem;
    margin-left: -1.25rem;
}
}@media (min-width:576px) {
    .card-group {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.card-group .card {
    display: table-cell;
    vertical-align: top;
}
.card-group .card+.card {
    margin-left: 0;
    border-left: 0;
}
.card-group .card:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
}
.card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
}
.card-group .card:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
}
.card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
}
.card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.card-group .card:not(:first-child):not(:last-child) .card-img-bottom, .card-group .card:not(:first-child):not(:last-child) .card-img-top {
    border-radius: 0;
}
}
@media (min-width:576px) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
    }

        .card-columns .card {
            display: inline-block;
            width: 100%;
        }
}