﻿@model DynamicPoleConfiguration.Models.TempList
@{
    ViewBag.Title = "Template";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Template Selection</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
    @*<div>
        @Html.DropDownListFor(model => model.TemplateId, new SelectList(Model.TemplateList, "TemplateId", "TemplateName"), "Select List", new { @class = "form-control", @onchange = "GoTOObject()" })
    </div>*@
    <div class="register-box">
        <div class="register-logo">
            <a href="../../index2.html"><b>Template Selection</b></a>
        </div>
        <div class="register-box-body">
            @*<p class="login-box-msg">Template Selection</p>*@
            @*<form  method="post">*@
                <div class="form-group has-feedback">
                    @Html.DropDownListFor(model => model.TemplateId, new SelectList(Model.TemplateList, "TemplateId", "TemplateName"), "Select List", new { @class = "form-control" })
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="ConfigName" placeholder="Configuration Name">
                </div>
                <div class="row">
                    <div class="col-xs-8">
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" onclick="GoTOObject()" class="btn btn-primary btn-block btn-flat">Proceed</button>
                    </div>
                    <!-- /.col -->
                </div>
            @*</form>*@
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->

    <script>
        
    </script>
    <!-- jQuery 3 -->
    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    @*<script src="../../plugins/iCheck/icheck.min.js"></script>*@
</body>
</html>
