﻿@model DynamicPoleConfiguration.Models.Config
@{
    ViewBag.Title = "Config";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/footable.standalone.css" rel="stylesheet" />
<link href="~/css/footable.standalone.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="~/js/footable.js"></script>
<script src="~/js/footable.min.js"></script>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_citation padding_twelve">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" style="margin-top: 8px;">
        <label>No Of Record Per Page :</label>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-12 col-xs-12">
        <select id="RecordNumber" class="form-control" onchange="GetConfigDetails()">
           
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12"></div>

</div>
<table class="table content_citation" data-filtering="true" data-sorting="true" data-paging="true"></table>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content_citation padding_twelve">
    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <a data-toggle="modal" class="ipsg-widget_button btn-primary ipsg-widget_button_sm" href="#myModal">Add Configuration</a>
    </div>
    
</div>
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content"> 

                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title">Add Configuration</h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <table width="100%">
                        <tr>
                            <td>
                                Create new Configuration&nbsp;&nbsp;
                            </td>
                            <td>
                                @Html.DropDownListFor(model => model.TempList.TemplateId, new SelectList(Model.TempList.TemplateList, "TemplateId", "TemplateName"), "Select List", new { @class = "form-control" })
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                Configuration Name
                            </td>
                            <td>
                                <input type="text" class="form-control" id="ConfigName" placeholder="Configuration Name">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:center;">
                                <button type="submit" onclick="GoTOObject()" class="btn btn-primary btn-flat">Proceed</button>
                            </td>
                        </tr>
                    </table>
                </div>

                <!-- Modal footer -->
                @*<div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>*@

            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            GetConfigDetails();
            $(".table").delegate('tbody tr', 'click', function () {
                var Id = $(this).find('td:eq(0)').text();
                var ConfigName = $(this).find('td:eq(1)').text();
                var ConfigTemplateId = $(this).find('td:eq(2)').text();  
                var TemplateVersion = $(this).find('td:eq(3)').text();  
                sessionStorage.setItem("SelectedConfig", Id);

                             
                sessionStorage.setItem("SelectedTemplate", ConfigTemplateId);

                sessionStorage.setItem("TemplateDescription", ConfigName);
                sessionStorage.setItem("TemplateVersion", TemplateVersion);
                //'<%Session["SelectedTemplate"] = "' + Id + '"; %>';
                //'<%Session["TemplateDescription"] = "' + ConfigName + '"; %>';
                //Session["SelectedTemplate"] = Id;
                //Session["TemplateDescription"] = ConfigName;
                location.replace('/Object/Index/');
            });
        });

        function GetConfigDetails() {
            $.ajax({
                url: '/Config/GetConfigurationData',
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    BindTable(data);
                },
                error: function () {
                    alert("An error has occured!!!");
                }
            });
        }

        function BindTable(data) {
           // alert(JSON.stringify(data.ConfigurationList));
            var noOfRecord = $('#RecordNumber').val();
            $('.table').footable({
                "columns": [
                    {
                        "name": "ConfigId",
                        "title": "ConfigId",
                        "breakpoints": "xs sm",
                        "type": "number",
                        "style": {
                            "width": 80,
                            "maxWidth": 80,
                            "text-align": "center",
                            "font-weight": "Bold"
                        },
                        "visible": false
                    },
                    {
                        "name": "ConfigName",
                        "title": "ConfigName",
                        "style": {
                            "text-align": "center",
                            "font-weight": "Bold"
                        }
                    },
                    {
                        "name": "ConfigTemplateId",
                        "title": "ConfigTemplateId",
                        "style": {
                            "text-align": "center",
                            "font-weight": "Bold"
                        }
                    },
                    {
                        "name": "ConfigTemplateVersion",
                        "title": "ConfigTemplateVersion",
                        "style": {
                            "text-align": "center",
                            "font-weight": "Bold"
                        }
                    },
                    {
                        "name": "Details",
                        "title": "More Details",
                        "style": {
                            "text-align": "center",
                            "font-weight": "Bold"
                        }
                    }
                ],
                "rows": data.ConfigurationList,
                "paging": {
                    "enabled": true,
                    "size": noOfRecord
                }
            });
        }

        function GoTOObject() {
            if (validation() === true) {
                var _postModel = new Object();
                _postModel["TemplateId"] = $('#TempList_TemplateId').val();
                _postModel["TemplateName"] = $('#ConfigName').val();
                
             $.ajax({
              type: 'GET',
                url: '@Url.Action("Saveconfiguration", "Config")',
                contentType: 'application/json',
                 data: _postModel,
                 success: function () {
                     $('#myModal').modal('hide');
                     location.reload();
                },
                error: function () {
                    alert("Error");
                }
            });
            }
        }

        function validation() {
            if ($('#TemplateId').val() !== "") {
                if ($('#ConfigName').val().length > 0) {
                    return true;
                }
                else {
                    alert("Please Enter Configuration name");
                    return false;
                }
            }
            else {
                alert("Please select Template");
                return false;
            }
            
        }
    </script>

