﻿@model DynamicPoleConfiguration.Models.Object
@{
    ViewBag.Title = "Object";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/css/style.css" rel="stylesheet" />*@
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/timepicki.css" rel="stylesheet" />
<style>
    .txtcolor {
        background-color: #ebf2ff;
        border-radius: 0;
        border: 0;
        text-align: center;
    }

        .txtcolor:focus {
            border: 0px !important;
        }

    ul.ObjectMenuList li {
        width: 100%;
        list-style: none;
        border: 1px solid #000;
        text-align: center;
        padding: 5px;
        font-size: 14px;
        background: #FFF;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
        margin-bottom: 10px;
    }

        ul.ObjectMenuList li > a {
            color: #004f5b !important;
        }

        ul.ObjectMenuList li:hover > a {
            color: #FFF !important;
        }

        ul.ObjectMenuList li:hover {
            background: #004f5b;
            color: #FFF !important;
            cursor: pointer;
        }

        ul.ObjectMenuList li.active {
            background: #004f5b;
        }

            ul.ObjectMenuList li.active > a {
                background: #004f5b !important;
                color: #FFF !important;
            }

    .removePadding {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

    <div class="box box-warning">
        <div class="box-body">
            <div class="col-lg-12 col-md-12 col-sm-12 removePadding">
                <div class="col-lg-2 col-md-2 col-sm-12 removePadding">
                    <ul class="ObjectMenuList"></ul>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 panel panel-info removePadding">
                        <div class="col-lg-11 col-md-11 col-sm-11 removePadding">
                            <div id="demo"></div>
                            <div id="demofooter" style="padding:5px;">

                            </div>

                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1">
                            <input type="button" class="ipsg-widget_button btn-primary ipsg-widget_button_sm" id="AddObj" value="Add" />
                        </div>
                    </div>
                </div>

            </div>

            @*<input type="button" value="Get Year" onclick="GetYear('Date0')" />*@
        </div>
    </div>

</div>


<script src="~/js/timepicki.js"></script>
<script src="~/js/jquery.min.js"></script>

<script src="~/js/CommonValidation.js"></script>

<script>

    $(document).ready(function () {
        jQuery.noConflict();
         $('#AddObj').css('display', 'none');
        Id = sessionStorage.getItem("SelectedConfig");
        TemplateName = sessionStorage.getItem("TemplateDescription");
        ConfigTemplateId = sessionStorage.getItem("SelectedTemplate");
        TemplateVersion = sessionStorage.getItem("TemplateVersion");

        ///Use to Get template from Database base on selected Type

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetTemplate", "Object")',
            contentType: 'application/json',
            data: { Id: Id },
            success: function (data) {
                BuildMenu(data);
                $(".ObjectMenuList li:first-child").click();
                $(".ObjectMenuList li:first-child").addClass("active");
            },
            error: function () {
                alert("Error");


            }



        });



    });




    var allController = '', timeController='';

    ///Create HTML Page Base on Object Type From Database
    function GetXMLTemplateOnType(Type) {
        var xmlData;

        var parser, xmlDoc, newDoc, newxml;
         $.ajax({
              type: 'GET',
                url: '@Url.Action("GetObjectXML", "Object")',
             contentType: 'application/json',
             data: { objectType: Type},
             success: function (data) {
                 parser = new DOMParser();
                 xmlDoc = parser.parseFromString(data, "text/xml");
                  //  makeTable($(document.body), data);
                 //generateTableDetails(xmlDoc);
                 GenerateHtmlPage(xmlDoc);
                },
                error: function () {
                    alert("Error");
                }
        });
    }

    ///Create HTML Page Base on Object Type From XML Send From Menu
    function GetXMLTemplate(data) {
        var htmlContent = '', htmlButton = '';
        parser = new DOMParser();

        xmlDoc = parser.parseFromString(data, "text/xml");


        GenerateHtmlPage(xmlDoc);

    }

    //function makeTable(container, data) {
    //    parser = new DOMParser();

    //    xmlDoc = parser.parseFromString(data, "text/xml");


    //    var table = $("<table/>").addClass('CSSTableGenerator');
    //    $.each(xmlDoc, function (rowIndex, r) {
    //        var row = $("<tr/>");
    //        $.each(r, function (colIndex, c) {
    //            row.append($("<t" + (rowIndex == 0 ? "h" : "d") + "/>").text(c));
    //        });
    //        table.append(row);
    //    });
    //    return container.append(table);
    //}

    //function generateTableDetails(tableDetails) {
    //    //var Type = xmlDoc.getElementsByTagName("object")[0].getAttribute("Type");
    //   // var xmlParsed = $.parseXML(tableDetails);
    //    var xmlDoc = tableDetails.find('Row');
    //    var xmlRow = xmlDoc.find('Cell');

    //    $(xmlRow).each(function () {
    //        for (var i = 0; i < 3; i++) {
    //            // find the Col + i and append it's text to the #xmlstuff div
    //            $('#xmlstuff').append($(this).find('Header' + i).text()).append('<br/>');
    //        }
    //    });
    //}


    ///Use to create HTML Page From XML
    function GenerateHtmlPage(xmlDoc) {
        var htmlContent = '', htmlHeader = '', htmlButton = '';
        if (maxCount > 0) {
            $('#AddObj').css('display', 'block');
        }
        else {
            $('#AddObj').css('display', 'none');
        }
        if (count == 0) {
            var BaseObject = '';
            for (var j = 0; j <= maxCount; j++) {
                BaseObject = BaseObject + '<div id="ObjectDiv' + j + '"></div>';
                htmlButton = '<div class="box-footer"><button type = "submit" onclick="SaveTemplate()" class="ipsg-widget_button btn-primary ipsg-widget_button_sm">Submit</button></div>';

              }
            $('#demo').html(BaseObject);
            $('#demofooter').html(htmlButton);
        }

        if (count <= maxCount) {
            objectList = xmlDoc.documentElement.childNodes;
            x = xmlDoc.documentElement.childNodes;

            for (var oblst = 0; oblst < objectList.length; oblst++) {
                xChild = objectList[oblst].childNodes;

                if (xChild.length > 0) {
                    for (var i = 0; i < xChild.length; i++) {

                        htmlHeader = '<div style="width:100%; padding:5px; background:#004f5b; margin-bottom: 10px; font-weight:bold; color:#FFF; text-align:center;" class="objectHeader">' + objectList[oblst].getAttribute('Type') + count + '</div>';

                        if (xChild[i].getAttribute('Type') == "string") {
                            htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + xChild[i].nodeName + count + '">' + xChild[i].nodeName + '</label><input type = "Text" class="form-control" onblur="OnlyString(this.value,this.id);" id = "' + xChild[i].nodeName + count + '" placeholder = "Enter ' + xChild[i].nodeName + '" value="' + xChild[i].innerHTML + '" Required ></div>'
                        }
                        if (xChild[i].getAttribute('Type') == "integer") {
                            htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + xChild[i].nodeName + count + '">' + xChild[i].nodeName + '</label><input type = "Text" class="form-control" onblur="OnlyNumeric(this.value,this.id);" id = "' + xChild[i].nodeName + count + '" placeholder = "Enter ' + xChild[i].nodeName + '" value="' + xChild[i].innerHTML + '" ></div>'

                        }
                        if (xChild[i].getAttribute('Type') == "Date") {
                            SetDateControl("" + xChild[i].nodeName + count + "");
                            var DateNodeCount = xChild[i].childNodes.length;
                            if (xChild[i].children[0].innerHTML.length > 0) {
                                var year = xChild[i].childNodes[0].innerHTML;
                                var dayOfYear = xChild[i].childNodes[1].innerHTML;
                                var Calculateddate = CalculateDate(year, dayOfYear);
                                htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + xChild[i].nodeName + count + '">' + xChild[i].nodeName + '</label><input type = "Text" class="form-control datepicker" id = "' + xChild[i].nodeName + count + '" placeholder = "Enter ' + xChild[i].nodeName + '" value="' + Calculateddate + '" Readonly ></div>'
                            }
                            else {
                                htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + xChild[i].nodeName + count + '">' + xChild[i].nodeName + '</label><input type ="Text" class="form-control datepicker" id = "' + xChild[i].nodeName + count + '" placeholder = "Enter ' + xChild[i].nodeName + '" Readonly ></div>';
                            }


                        }
                        if (xChild[i].getAttribute('Type') == "time") {
                            SetTimeControl("" + xChild[i].nodeName + count + "");
                            var TimeNodeCount = xChild[i].childNodes.length;
                            for (var j = 0; j < TimeNodeCount; j++) {
                                if (TimeNodeCount > 0) {
                                    htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + xChild[i].nodeName + count + '">' + xChild[i].nodeName + '</label><input type ="Text" class="form-control timepick" id = "' + xChild[i].nodeName + count + '" placeholder = "Enter ' + xChild[i].nodeName + '" value="' + xChild[i].childNodes[j].innerHTML + '" Readonly ></div>';
                                }
                                else {
                                    htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + xChild[i].nodeName + count + '">' + xChild[i].nodeName + '</label><input type ="Text" class="form-control timepick" id = "' + xChild[i].nodeName + count + '" placeholder = "Enter ' + xChild[i].nodeName + '"Readonly ></div>';
                                }

                            }
                        }


                    }
                }
                else {
                    for (var i = 0; i < x.length; i++) {

                        htmlHeader = '<div style="width:100%; padding:5px; background:#004f5b; margin-bottom: 10px; font-weight:bold; color:#FFF; text-align:center;" class="objectHeader">' + objectList[i].getAttribute('Type') + count + '</div>';

                        if (x[i].getAttribute('Type') == "string") {
                            htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + x[i].nodeName + count + '">' + x[i].nodeName + '</label><input type = "Text" class="form-control" onblur="OnlyString(this.value,this.id);" id = "' + x[i].nodeName + count + '" placeholder = "Enter ' + x[i].nodeName + '" value="' + x[i].innerHTML + '" Required ></div>'
                        }
                        if (x[i].getAttribute('Type') == "integer") {
                            htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + x[i].nodeName + count + '">' + x[i].nodeName + '</label><input type = "Text" class="form-control" onblur="OnlyNumeric(this.value,this.id);" id = "' + x[i].nodeName + count + '" placeholder = "Enter ' + x[i].nodeName + '" value="' + x[i].innerHTML + '" ></div>'

                        }
                        if (x[i].getAttribute('Type') == "Date") {
                            SetDateControl("" + x[i].nodeName + count + "");
                            var DateNodeCount = x[i].childNodes.length;
                            if (x[i].children[0].innerHTML.length > 0) {
                                var year = x[i].childNodes[0].innerHTML;
                                var dayOfYear = x[i].childNodes[1].innerHTML;
                                var Calculateddate = CalculateDate(year, dayOfYear);
                                htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + x[i].nodeName + count + '">' + x[i].nodeName + '</label><input type = "Text" class="form-control datepicker" id = "' + x[i].nodeName + count + '" placeholder = "Enter ' + x[i].nodeName + '" value="' + Calculateddate + '" Readonly ></div>'
                            }
                            else {
                                htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + x[i].nodeName + count + '">' + x[i].nodeName + '</label><input type ="Text" class="form-control datepicker" id = "' + x[i].nodeName + count + '" placeholder = "Enter ' + x[i].nodeName + '" Readonly ></div>';
                            }


                        }
                        if (x[i].getAttribute('Type') == "time") {
                            SetTimeControl("" + x[i].nodeName + count + "");
                            var TimeNodeCount = x[i].childNodes.length;
                            for (var j = 0; j < TimeNodeCount; j++) {
                                if (TimeNodeCount > 0) {
                                    htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + x[i].nodeName + count + '">' + x[i].nodeName + '</label><input type ="Text" class="form-control timepick" id = "' + x[i].nodeName + count + '" placeholder = "Enter ' + x[i].nodeName + '" value="' + x[i].childNodes[j].innerHTML + '" Readonly ></div>';
                                }
                                else {
                                    htmlContent = htmlContent + '<div class="form-group" style="padding-left:5px; padding-right:5px;"><label for="' + x[i].nodeName + count + '">' + x[i].nodeName + '</label><input type ="Text" class="form-control timepick" id = "' + x[i].nodeName + count + '" placeholder = "Enter ' + x[i].nodeName + '"Readonly ></div>';
                                }

                            }
                        }


                    }
                }

                $('#ObjectDiv' + count).html((htmlHeader + htmlContent));
                SetDate();
                SetTime();
                $('#ObjectDiv' + count).addClass('Objectborder');
                count++;
                htmlHeader = '', htmlContent = '';
            }
        }



    }

    function CalculateDate(year, day) {
        var date = '';
        date = new Date(year, 0); // initialize a date in `year-01-01`
        var d = new Date(date.setDate(day)); // add the number of days
        var curr_date = d.getDate();
        var curr_month = d.getMonth();
        curr_month++;
        var curr_year = d.getFullYear();
        return (curr_month + "/" + curr_date + "/" + curr_year);
    }

    function SetTimeControl(controlName) {

        var timeObj;
        timeObj = controlName;


    }

     //Use to Set Time Picker

    function SetTime() {
      //  if (timeController.length > 0) {
            $('.timepick').timepicki();
      //  }
    }

    function SetDateControl(controlName) {
        allController = controlName;
        //var n = allController.getFullYear();

    }

    function GetYear(controlName) {
        return (new Date($('#' + controlName).val())).getFullYear();
    }

    function DayOfYear(controlName) {
        var now = (new Date($('#'+controlName).val()));
        var start = new Date(now.getFullYear(), 0, 0);
        var diff = now - start;
        var oneDay = 1000 * 60 * 60 * 24;
        var day = Math.floor(diff / oneDay);
        return day;
    }

    ///Use to Set Date Picker
    function SetDate() {
       // if (allController.length > 0) {
        $('.datepicker').datepicker();


       // }
    }



    ///User to Add Template If max count > 0
    $('#AddObj').click(function () {
       // alert("Hi");
       // count++;
        if (count < maxCount) {
            if (DBType.length>0) {
                GetXMLTemplateOnType(DBType);
            }
            else if (XMLType.length > 0) {
                var SingleXML = parser.parseFromString(XMLType, "text/xml");
                var single = SingleXML.getElementsByTagName('object')[0].outerHTML;
                var single1 = '<aam>' + single + '</aam>';
                GetXMLTemplate(XMLType);
            }

        }

    });

    ///Use to Get Base Template and page
    function SaveTemplate() {
        var Template = '', Objectxml = '';

         $.ajax({
              type: 'GET',
                url: '@Url.Action("GetTemplate", "Object")',
                contentType: 'application/json',
                data: { Id: Id },
             success: function (data) {
                // alert(data);
                             if (DBType.length > 0) {
                    $.ajax({
              type: 'GET',
                url: '@Url.Action("GetObjectXML", "Object")',
                contentType: 'application/json',
                 data: { objectType: DBType},
                        success: function (DBdata) {
                            var docxml1 = '', docxml2;
                            var TotalObject = $('#demo').children().length;
                            for (var j = 0; j < TotalObject; j++) {
                                if ($('#ObjectDiv' + j).children().length > 0) {
                                    var parser, xmlDoc;
                                    parser = new DOMParser();
                                    xmlDoc = parser.parseFromString(DBdata, "text/xml");

                                    var xmlObjLength = xmlDoc.getElementsByTagName('object').length;
                                    if (xmlObjLength > 0) {
                                        for (var k = 0; k < xmlObjLength; k++) {

                                            if (xmlDoc.getElementsByTagName('object')[k].getAttribute('Type') == Type) {
                                                var docxml = xmlDoc.getElementsByTagName('object')[k];
                                                for (var i = 0; i < docxml.childNodes.length; i++) {
                                                    if (docxml.children[i].getAttribute('Type') == "Date") {
                                                        if (docxml.children[i].children.length > 0) {
                                                            for (var ic = 0; ic < docxml.children[i].children.length; ic++) {
                                                                if (docxml.children[i].children[ic].getAttribute('Format') == "YYYY") {
                                                                    var currentYear = docxml.childNodes[i].nodeName + j;
                                                                    docxml.children[i].children[ic].innerHTML = GetYear(currentYear);
                                                                }
                                                                else {
                                                                    var currentDayYear = docxml.childNodes[i].nodeName + j;
                                                                    docxml.children[i].children[ic].innerHTML = DayOfYear(currentDayYear);
                                                                }
                                                            }
                                                        }

                                                    }
                                                    if (docxml.children[i].getAttribute('Type') == "time") {
                                                        if (docxml.children[i].children.length > 0) {
                                                            for (var ic = 0; ic < docxml.children[i].children.length; ic++) {
                                                                if (docxml.children[i].children[ic].getAttribute('Format') == "mm") {
                                                                    docxml.children[i].children[ic].innerHTML = $('#' + docxml.childNodes[i].nodeName + j).val();;
                                                                }
                                                                else {
                                                                    docxml.children[i].children[ic].innerHTML = $('#' + docxml.childNodes[i].nodeName + j).val();;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    if (docxml.children[i].getAttribute('Type') == "integer" || docxml.children[i].getAttribute('Type') == "string") {
                                                        docxml.childNodes[i].innerHTML = $('#' + docxml.childNodes[i].nodeName + j).val();
                                                    }

                                                }
                                                docxml1 = docxml1 + docxml.outerHTML;
                                            }

                                        }
                                    }

                                    docxml2 = '<aam>' + docxml1 + '</aam>';

                                }
                                // Start
                                if (data.length > 0) {
                                    var parser, xmlDoc, newDoc, newxml, newxml1, newxml2, newxml3;
                                    parser = new DOMParser();
                                    xmlDoc = parser.parseFromString(data, "text/xml");
                                    newDoc = xmlDoc.getElementsByTagName('object').length;
                                    newxml1 = parser.parseFromString(docxml2, "text/xml");
                                    newxml2 = newxml1.getElementsByTagName('object')[0];
                                    var ChildrenCount = newxml2.children.length;
                                    for (var i = 0; i < newDoc; i++) {
                                        var a = xmlDoc.getElementsByTagName('object')[i];
                                        if (a.getAttribute("Type") == Type) {
                                            if (ChildrenCount > 0) {
                                                var OldChidren = a.children.length;
                                                if (OldChidren > 0) {
                                                    for (var j = 0; j < OldChidren; j++) {
                                                        a.removeChild(a.children[0]);
                                                    }
                                                }

                                            }
                                            xmlDoc.getElementsByTagName('Array')[i].removeChild(a);
                                            var count2 = newxml1.getElementsByTagName('object').length;
                                            for (var k = 0; k < count2; k++) {
                                                xmlDoc.getElementsByTagName('Array')[i].appendChild(newxml1.getElementsByTagName('object')[0]);
                                            }
                                            newxml3 = xmlDoc.documentElement;

                                            SaveConfigurationObject(TemplateName, newxml3.outerHTML, ConfigTemplateId, TemplateVersion);
                                        }
                                    }
                                }
                                // END
                            }
                        },
                error: function () {
                    alert("Error");
                }
        });

        }
        else if (XMLType.length > 0) {

           var docxml1='', docxml2, x;
            var TotalObject = $('#demo').children().length;
            for (var j = 0; j < TotalObject; j++) {
                if ($('#ObjectDiv' + j).children().length > 0) {
                    var parser, xmlDoc;
                    parser = new DOMParser();
                    xmlDoc = parser.parseFromString(XMLType, "text/xml");

                    var xmlObjLength = xmlDoc.getElementsByTagName('object').length;
                    if (xmlObjLength > 0) {
                        for (var k = 0; k < xmlObjLength; k++) {

                            if (xmlDoc.getElementsByTagName('object')[k].getAttribute('Type') == Type) {
                                var docxml = xmlDoc.getElementsByTagName('object')[k];
                                for (var i = 0; i < docxml.childNodes.length; i++) {
                                    if (docxml.children[i].getAttribute('Type') == "Date") {
                                        if (docxml.children[i].children.length > 0) {
                                            for (var ic = 0; ic < docxml.children[i].children.length; ic++) {
                                                if (docxml.children[i].children[ic].getAttribute('Format') == "YYYY") {
                                                    var currentYear = docxml.childNodes[i].nodeName + j;
                                                    docxml.children[i].children[ic].innerHTML = GetYear(currentYear);
                                                }
                                                else {
                                                    var currentDayYear = docxml.childNodes[i].nodeName + j;
                                                    docxml.children[i].children[ic].innerHTML = DayOfYear(currentDayYear);
                                                }
                                            }
                                        }

                                    }
                                    if (docxml.children[i].getAttribute('Type') == "time") {
                                        if (docxml.children[i].children.length > 0) {
                                            for (var ic = 0; ic < docxml.children[i].children.length; ic++) {
                                                if (docxml.children[i].children[ic].getAttribute('Format') == "mm") {
                                                    docxml.children[i].children[ic].innerHTML = $('#' + docxml.childNodes[i].nodeName + j).val();;
                                                }
                                                else {
                                                    docxml.children[i].children[ic].innerHTML = $('#' + docxml.childNodes[i].nodeName + j).val();;
                                                }
                                            }
                                        }
                                    }
                                    if (docxml.children[i].getAttribute('Type') == "integer" || docxml.children[i].getAttribute('Type') == "string") {
                                        docxml.childNodes[i].innerHTML = $('#' + docxml.childNodes[i].nodeName + j).val();
                                    }
                                   
                                }
                                docxml1 = docxml1 + docxml.outerHTML;
                            }
                            
                        }   
                    }

                }
                docxml2 = '<aam>' + docxml1 + '</aam>';
                                 }


                 }
                 // Start
                 if (data.length > 0) {
                     var parser, xmlDoc, newDoc, newxml, newxml1, newxml2, newxml3;
                     parser = new DOMParser();
                     xmlDoc = parser.parseFromString(data, "text/xml");
                     newDoc = xmlDoc.getElementsByTagName('object').length;
                     newxml1 = parser.parseFromString(docxml2,"text/xml");
                     newxml2 = newxml1.getElementsByTagName('object')[0];
                     var ChildrenCount = newxml2.children.length;
                     for (var i = 0; i < newDoc; i++) {
                         var a = xmlDoc.getElementsByTagName('object')[i];
                         if (a.getAttribute("Type") == Type) {
                             if (ChildrenCount > 0) {
                                 var OldChidren = a.children.length;
                                 if (OldChidren > 0) {
                                     for (var j = 0; j < OldChidren; j++) {
                                         a.removeChild(a.children[0]);
                                     }
                                 }

                             }
                             xmlDoc.getElementsByTagName('Array')[i].removeChild(a);
                             var count2 = newxml1.getElementsByTagName('object').length;
                             for (var k = 0; k < count2; k++) {
                                 xmlDoc.getElementsByTagName('Array')[i].appendChild(newxml1.getElementsByTagName('object')[0]);
                             }
                             newxml3 = xmlDoc.documentElement;
                             console.log(newxml3);
                             SaveConfigurationObject(TemplateName, newxml3.outerHTML, ConfigTemplateId, TemplateVersion);
                         }
                     }
                 }
                            // END


                 //if (data.length > 0) {
                 //    var parser, xmlDoc, newDoc, newxml, newxml1, newxml2, newxml3, childNode;
                 //    parser = new DOMParser();
                 //    xmlDoc = parser.parseFromString(data, "text/xml");
                 //    newDoc = xmlDoc.getElementsByTagName('object').length;
                 //    x = xmlDoc.documentElement.childNodes;
                 //    newxml1 = parser.parseFromString(docxml2, "text/xml");
                 //    newxml2 = newxml1.getElementsByTagName('object')[0];
                 //    var ChildrenCount = newxml2.children.length;
                 //    for (var i = 0; i < newDoc; i++) {
                 //        var a = xmlDoc.getElementsByTagName('object')[i];
                 //        if (a.getAttribute("Type") == Type) {

                 //            if (ChildrenCount > 0) {
                 //                var OldChidren = a.children.length;
                 //                if (OldChidren > 0) {
                 //                    for (var j = 0; j < OldChidren; j++)
                 //                    {
                 //                        for (var k = 0; k < x.length; k++)
                 //                        {
                 //                            if (x[k].getAttribute('Type') == "time")
                 //                            {
                 //                                x.removeChild(x.children[0]);
                 //                            }
                 //                        }
                 //                        a.removeChild(a.children[0]);
                 //                    }
                 //                }
                 //                for (var j = 0; j < ChildrenCount; j++)
                 //                {
                 //                    for (var k = 0; k < x.length; k++)
                 //                    {
                 //                        if (x[k].getAttribute('Type') == "time")
                 //                        {
                 //                            x.append(newxml2.children[0].childNodes[0]);
                 //                        }
                 //                    }
                 //                    a.append(newxml2.children[0]);
                 //                }
                 //            }
                 //            console.log(xmlDoc.documentElement);
                 //            newxml3 = xmlDoc.documentElement;
                 //            SaveConfigurationObject(TemplateName, newxml3.outerHTML, TemplateId, 1.0);
                 //        }
                 //    }
                 //}
                },
                error: function () {
                    alert("Error");
                }
        });


    }

    ///Use to Save Template
    function SaveConfigurationObject(ConfigName, ConfigXML, ConfigTemplateId, ConfigTemplateVersion) {

        var ConfigData = { ConfigId: Id, ConfigName: ConfigName, ConfigXML: ConfigXML, ConfigTemplateId: ConfigTemplateId, ConfigTemplateVersion: ConfigTemplateVersion };
        var ConfigObj = JSON.stringify(ConfigData);
         $.ajax({
              type: 'POST',
                url: '@Url.Action("SaveConfigurationObject", "Object")',
                contentType: 'application/json',
             data: ConfigObj,
             success: function (data) {
                 alert(data);

                },
                error: function () {
                    alert("Error");
                }
        });
    }

</script>
<script src="js/bootstrap.min.js"></script>

