﻿.ipsg-tabs {
    background-color: #00A5B5;
    border: none;
    border-radius: 0;
    color: #FFFFFF;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
 .ipsg-tabs {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    width: 100%;
}
 .ipsg-tabs .ipsg-tab {
        -ms-flex-align: center;
        align-items: center;
        background-color: #00A5B5;
        border-right: 1px solid #FFFFFF;
        cursor: pointer;
        display: -ms-flexbox;
        display: flex;
        height: 40px;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        font-size: 24px;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        position: relative;
        transition: background-color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    }
 .ipsg-tabs .ipsg-tab a {
            height: 100%;
            width: 100%;
            -ms-flex-align: center;
            align-items: center;
            color: #FFFFFF;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            text-decoration: none;
        }
.icon_img {
    width: 25px;
}
.ipsg-widget_badge {
    top: 5px;
    right: 5px;
    position: absolute;
    height: 18px;
    width: 18px;
    -ms-flex-align: center;
    align-items: center;
    background-color: #D8D8D8;
    border-radius: 100%;
    color: #FFFFFF;
    display: -ms-flexbox;
    display: flex;
    font: 13px "NunitoSansRegular", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    -ms-flex-pack: center;
    justify-content: center;
}
    .ipsg-widget_badge.ipsg-widget_badge_danger {
        background-color: #D0011B;
    }
 .ipsg-tabs .ipsg-tab:last-of-type {
    border-right: none;
}

 .liborderNone
 {
     border-bottom:0px !important;
 }
