﻿.ui-iggrid{background-image:none;border-width:0}
.ui-iggrid .ui-helper-reset{line-height:1.4;border:0 none}
.ui-iggrid-table{table-layout:fixed;width:100%;border-collapse:separate}
.ui-iggrid-headertable{table-layout:fixed;width:100%;white-space:normal;border-collapse:separate}
.ui-iggrid table th,.ui-iggrid table td{overflow:hidden;text-overflow:ellipsis;vertical-align:middle}
.ui-iggrid .ui-iggrid-headertable,.ui-iggrid .ui-iggrid-content,.ui-iggrid .ui-widget-content,.ui-iggrid-scrolldiv table{border-width:0}
.ui-iggrid .ui-iggrid-content{width:100%}
.ui-iggrid-table-mrl,.ui-iggrid-headertable-mrl{border-collapse:collapse;table-layout:fixed}
.ui-iggrid>.ui-widget-header.ui-helper-reset{border-width:0}
.ui-widget-content.ui-iggrid-filterddlist,.ui-widget-content.ui-iggrid-hiding-dropdown-list,.ui-widget-content.ui-iggrid-columnmoving-dropdown-list,.ui-widget-content.ui-iggrid-featurechooser-list,.ui-iggrid-summaries-dropdown-listcontainer{border:0;margin:0;padding:0;list-style-type:none}
.ui-iggrid .ui-iggrid-headercaption,.ui-iggrid .ui-iggrid-footer,.ui-iggrid .ui-iggrid-toolbar{padding:.6em .4em;text-align:center;cursor:default}
.ui-iggrid th.ui-state-default,.ui-iggrid th.ui-state-hover,.ui-iggrid th.ui-state-active,.ui-iggrid th.ui-state-default a,.ui-iggrid th.ui-state-hover a,.ui-iggrid th.ui-state-active a{font-weight:normal;text-align:left}
.ui-iggrid .ui-ig-altrecord{background-color:rgba(153,153,153,0.2)}
.ui-iggrid .ui-iggrid-footer,.ui-iggrid .ui-iggrid-toolbar{font-weight:normal;text-align:left;display:block}
.ui-iggrid th,.ui-iggrid th.ui-state-default,.ui-iggrid th.ui-state-hover,.ui-iggrid th.ui-state-active{text-align:left;white-space:nowrap;height:1.6em}
.ui-iggrid table tbody td,.ui-iggrid .ui-iggrid-header,.ui-iggrid table th{padding:4px}
.ui-iggrid .ui-iggrid-tablebody td{border-width:1px}
.ui-iggrid table thead a{text-decoration:none}
.ui-iggrid td.ui-state-default,.ui-iggrid td.ui-state-highlight,.ui-iggrid td.ui-state-hover{border-width:1px;font-weight:normal}
.ui-iggrid .ui-iggrid-footer .ui-state-default,.ui-iggrid .ui-iggrid-toolbar .ui-state-default,.ui-iggrid .ui-iggrid-footer .ui-state-default a,.ui-iggrid .ui-iggrid-toolbar .ui-state-default a{text-decoration:none}
.ui-iggrid .ui-iggrid-toolbar .ui-iggrid-results{float:right}
.ui-iggrid .ui-iggrid-footer .ui-iggrid-results{float:left;line-height:1.9em}
.ui-iggrid .ui-iggrid-paging,.ui-iggrid th .ui-iggrid-indicatorcontainer,.ui-iggrid th .ui-iggrid-indicatorcontainer .ui-icon{float:right}
.ui-iggrid .ui-iggrid-paging>div,.ui-iggrid .ui-iggrid-paging .ui-iggrid-paging-item span,.ui-iggrid .ui-iggrid-paging .ui-iggrid-pagedropdownlabels,.ui-iggrid .ui-iggrid-paging li,.ui-iggrid .ui-iggrid-results span{float:left;padding:0 .3em;line-height:1.4em}
.ui-iggrid .ui-iggrid-paging .ui-iggrid-pagedropdowncontainer .ui-igedit-container,.ui-iggrid .ui-iggrid-results .ui-igedit-container,.ui-iggrid .ui-iggrid-paging .ui-iggrid-pagedropdowncontainer{float:left;height:1.8em;line-height:1.4em}
.ui-iggrid .ui-iggrid-results .ui-igedit-input,.ui-iggrid .ui-iggrid-paging .ui-igedit-input{line-height:1.4em}
.ui-iggrid .ui-iggrid-paging .ui-iggrid-pagedropdowncontainer,.ui-iggrid .ui-iggrid-paging .ui-iggrid-pagedropdowncontainer .ui-igedit-input{height:100%}
.ui-iggrid .ui-iggrid-paging .ui-iggrid-paging-item span.ui-icon,.ui-iggrid .ui-iggrid-paging .ui-iggrid-pagedropdowncontainer,.ui-iggrid .ui-iggrid-results .ui-iggrid-pagesizedropdown{padding:0}
.ui-iggrid th .ui-iggrid-indicatorcontainer a{float:right;display:block}
.no-boxsizing .ui-iggrid-indicatorcontainer a{max-width:16px}
.ui-iggrid .ui-iggrid-paging .ui-igedit-button,.ui-iggrid .ui-iggrid-results .ui-igedit-button{border-width:0 0 0 1px}
a.ui-iggrid-pagelink,a.ui-iggrid-pagelinkcurrent{line-height:1.4em}
.ui-iggrid .ui-iggrid-paging .ui-icon,.ui-iggrid .ui-iggrid-results .ui-icon{padding:0}
.ui-iggrid .ui-iggrid-paging-item,.ui-iggrid .ui-iggrid-results-item{float:left}
.ui-iggrid .ui-iggrid-paging-item{position:relative;height:1.4em;box-sizing:content-box}
.ui-iggrid .ui-iggrid-paging-item span{cursor:pointer;-moz-user-select:none;-webkit-user-select:none;user-select:none}
.ui-iggrid .ui-iggrid-paging-item a:active,.ui-iggrid .ui-iggrid-paging-item a:focus{outline:0 none}
.ui-iggrid .ui-iggrid-paging-item span.ui-icon{margin-top:-8px;position:absolute;top:50%}
.ui-iggrid-measurement-container .ui-iggrid-featurechooserbutton{padding-left:2px}
.ui-iggrid .ui-iggrid-pager *{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
.ui-iggrid-firstpage .ui-icon,.ui-iggrid-prevpage .ui-icon{left:3px}
.ui-iggrid-nextpage .ui-icon,.ui-iggrid-lastpage .ui-icon{right:3px}
.ui-iggrid .ui-iggrid-paging .ui-iggrid-firstpage,.ui-iggrid .ui-iggrid-paging .ui-iggrid-prevpage{padding-left:20px}
.ui-iggrid .ui-iggrid-paging .ui-iggrid-nextpage,.ui-iggrid .ui-iggrid-paging .ui-iggrid-lastpage{padding-right:20px}
.ui-iggrid-pagelist{padding:0 6px}
.ui-iggrid-pagelist li{margin:0 .1em}
.ui-iggrid-colindicator.ui-icon:empty{display:block}
.ui-iggrid-colindicator:empty{display:none}
.ui-iggrid .ui-iggrid-filterbutton{float:left}
.ui-iggrid th .ui-iggrid-filterbutton,.ui-iggrid .ui-iggrid-filterbuttonright{float:right;margin:0}
.ui-iggrid-filtercell{padding:4px 0;white-space:nowrap}
.ui-iggrid-filtercell .ui-igedit-field{text-align:left}
.ui-iggrid-scrolldiv{border-top:none!important;position:relative;min-height:0%;;background-color:#F3F3F3;border-bottom:1px solid #DCDCDC}
.ui-iggrid-scrolldiv.ui-iggrid-virtualscrolldiv:first-child{border-top:none!important;border-bottom:none!important}
.ui-iggrid-scrolldiv{z-index:1}
.ui-iggrid-scrolldiv tbody{border:none!important}
.ui-iggrid-sortableheader>a,span.ui-iggrid-headertext{font-size:1em;min-height:18px}
.ui-iggrid-headertext{cursor:default}
.ui-iggrid-sortableheader .ui-iggrid-headertext{cursor:pointer;-moz-user-select:none;-webkit-user-select:none;user-select:none;-ms-user-select:none}
.ui-iggrid-colheaderasc .ui-iggrid-headertext,.ui-iggrid-colheaderdesc .ui-iggrid-headertext,.ui-iggrid-headercell-featureenabled .ui-iggrid-headertext{width:-webkit-calc(100% - 34px)!important;width:-moz-calc(100% - 34px)!important;width:calc(100% - 34px)!important;display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;float:left;line-height:1.6em}
.ui-iggrid-headercell-featureenabled.ui-draggable .ui-iggrid-headertext,.ui-iggrid-headercell-featureenabled.ui-iggrid-colheaderasc .ui-iggrid-headertext,.ui-iggrid-headercell-featureenabled.ui-iggrid-colheaderdesc .ui-iggrid-headertext{width:-webkit-calc(100% - 34px)!important;width:-moz-calc(100% - 34px)!important;width:calc(100% - 34px)!important}
.ui-iggrid-multiheader-cell.ui-iggrid-headercell-featureenabled .ui-iggrid-headertext{width:-webkit-calc(100% - 34px)!important;width:-moz-calc(100% - 34px)!important;width:calc(100% - 34px)!important}
.ui-iggrid-multiheader-cell.ui-iggrid-headercell-featureenabled .ui-iggrid-headertext{text-indent:18px}
.touch .ui-iggrid-colheaderasc .ui-iggrid-headertext,.touchevents .ui-iggrid-colheaderasc .ui-iggrid-headertext,.pointerevents .ui-iggrid-colheaderasc .ui-iggrid-headertext,.touch .ui-iggrid-colheaderdesc .ui-iggrid-headertext,.touchevents .ui-iggrid-colheaderdesc .ui-iggrid-headertext,.pointerevents .ui-iggrid-colheaderdesc .ui-iggrid-headertext,.touch .ui-iggrid-headercell-featureenabled .ui-iggrid-headertext,.touchevents .ui-iggrid-headercell-featureenabled .ui-iggrid-headertext,.pointerevents .ui-iggrid-headercell-featureenabled .ui-iggrid-headertext{width:-webkit-calc(100% - 28px)!important;width:-moz-calc(100% - 28px)!important;width:calc(100% - 28px)!important;line-height:1.8em}
.touch .ui-iggrid-headercell-featureenabled.ui-draggable .ui-iggrid-headertext,.touchevents .ui-iggrid-headercell-featureenabled.ui-draggable .ui-iggrid-headertext,.pointerevents .ui-iggrid-headercell-featureenabled.ui-draggable .ui-iggrid-headertext,.touch .ui-iggrid-headercell-featureenabled.ui-iggrid-colheaderasc .ui-iggrid-headertext,.touchevents .ui-iggrid-headercell-featureenabled.ui-iggrid-colheaderasc .ui-iggrid-headertext,.pointerevents .ui-iggrid-headercell-featureenabled.ui-iggrid-colheaderasc .ui-iggrid-headertext,.touch .ui-iggrid-headercell-featureenabled.ui-iggrid-colheaderdesc .ui-iggrid-headertext,.touchevents .ui-iggrid-headercell-featureenabled.ui-iggrid-colheaderdesc .ui-iggrid-headertext,.pointerevents .ui-iggrid-headercell-featureenabled.ui-iggrid-colheaderdesc .ui-iggrid-headertext{width:-webkit-calc(100% - 54px)!important;width:-moz-calc(100% - 54px)!important;width:calc(100% - 54px)!important}
.touch .ui-iggrid-colindicator-asc,.touchevents .ui-iggrid-colindicator-asc,.pointerevents .ui-iggrid-colindicator-asc,.touch .ui-iggrid-colindicator-desc,.touchevents .ui-iggrid-colindicator-desc,.pointerevents .ui-iggrid-colindicator-desc{margin-top:.4em}
.ui-iggrid-sortableheader{cursor:pointer;-moz-user-select:none;-webkit-user-select:none;user-select:none}
.ui-iggrid-sortableheader>a:active,.ui-iggrid-sortableheader>a:focus{outline:0 none}
.ui-iggrid-indicatorcontainer{margin-top:.25em\9;margin-top:calc(0.8em - 8px);min-width:34px}
.ui-iggrid-layout-helper>tbody>tr>td{padding:0!important;background:none transparent!important;vertical-align:top}
.ui-iggrid .ui-igedit-fieldincontainer,.ui-iggrid .ui-igedit-button{height:1.4em}
.ui-iggrid .ui-iggrid-results span,.ui-iggrid .ui-iggrid-pagedropdownlabels{line-height:1.4em}
.ui-iggrid .ui-igedit-button,.ui-iggrid-filtercell .ui-iggrid-indicatorcontainer a{float:left;position:relative;height:1.4em}
.ui-iggrid .ui-igedit-buttonimage,.ui-iggrid-filtercell .ui-iggrid-filterbutton{position:absolute;top:50%;left:50%;margin-top:-8px!important;margin-left:-8px!important;width:16px;height:16px}
.ui-igedit-dropdown .ui-igedit-listitem{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:100%}
.ui-igedit-dropdown .ui-igedit-listitem{font-size:1.1em!important;text-shadow:none}
.ui-iggrid .ui-iggrid-filtercell{font-size:1em;font-weight:normal}
.ui-iggrid .ui-iggrid-filtercell .ui-igedit{width:100%!important;height:1.6em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;overflow:hidden;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;display:block}
.ui-iggrid .ui-iggrid-filtercell .ui-iggrid-filtereditor{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;line-height:1.4em;width:100%!important}
.ui-iggrid .ui-iggrid-filtercell .ui-igedit:first-child input{padding:.3em}
.ui-iggrid-filtercell .ui-iggrid-indicatorcontainer a{margin-right:-2em}
.ui-iggrid-filtercell .ui-iggrid-indicatorcontainer a:before{color:#DCDCDC;content:"|";margin:0 0 0 1.4em;text-shadow:none;width:1.4em}
.ui-iggrid .ui-iggrid-filtercell .ui-iggrid-filtereditor{padding:0 0 0 1.8em!important}
.ui-iggrid .ui-iggrid-filtercell .ui-igedit-button+.ui-iggrid-filtereditor{padding-right:1.6em!important;margin-right:-1.6em!important}
.ui-iggrid-rtl .ui-iggrid-filtercell .ui-iggrid-filtereditor,.ui-iggrid-filtercell .ui-igeditor-input-container:first-child .ui-iggrid-filtereditor{padding:0 1.8em 0 0!important;text-align:right!important}
.ui-iggrid-rtl .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer,.ui-iggrid-filtercell .ui-igeditor-input-container+.ui-iggrid-indicatorcontainer{float:right;margin-top:0}
.ui-iggrid-filtercell .ui-igedit-container>.ui-igeditor-input-container{float:left;width:calc(100% - 10px)}
.ui-iggrid-filtercell .ui-igedit-button-common~.ui-igeditor-input-container{float:left;width:calc(100% - 35px)}
.ui-iggrid-filtercell .ui-iggrid-indicatorcontainer+.ui-igeditor-input-container{width:auto}
.ui-iggrid-rtl .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer a,.ui-iggrid-filtercell .ui-igeditor-input-container+.ui-iggrid-indicatorcontainer a{margin:0 0 0 -1.4em!important}
.ui-iggrid-rtl .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer a:before,.ui-iggrid-filtercell .ui-igeditor-input-container+.ui-iggrid-indicatorcontainer a:before{margin-right:1.4em;margin-left:0;text-align:right}
body[dir="rtl"] .ui-iggrid-filtericoncontainer,body[dir="rtl"] .ui-iggrid-featurechoosericoncontainer{right:3px}
.ui-iggrid-rtl .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button+.ui-igedit-field{margin-left:-1.4em!important;margin-right:0!important}
.ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child{width:1.4em!important;height:1.6em!important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.no-boxsizing .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button+.ui-igedit-field,.ie7 .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button+.ui-igedit-field{margin-right:-5.2em!important}
.no-boxsizing .ui-iggrid-pagedropdowncontainer .ui-igedit-field,.no-boxsizing .ui-iggrid-pagesizedropdown .ui-igedit-field,.ie7 .ui-iggrid-pagedropdowncontainer .ui-igedit-field,.ie7 .ui-iggrid-pagesizedropdown .ui-igedit-field{margin-right:-2em!important;padding-top:0!important;padding-bottom:0!important}
.no-boxsizing .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child,.no-boxsizing .ui-iggrid-pagedropdowncontainer .ui-igedit-button,.no-boxsizing .ui-iggrid-pagesizedropdown .ui-igedit-button,.ie7 .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child,.ie7 .ui-iggrid-pagedropdowncontainer .ui-igedit-button,.ie7 .ui-iggrid-pagesizedropdown .ui-igedit-button{padding:0!important}
.ie7 .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer a,.no-boxsizing .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer a{left:.7em}
.ui-iggrid-filterddlistitemadvanced{padding:7px 0;overflow:hidden}
.ui-iggrid-filterddlistitemadvanced input{margin-right:7px}
.ui-iggrid-blockarea{z-index:9999}
.ui-iggrid-dialog{z-index:20001}
.ui-iggrid-filterdialogaddconditionlist{display:inline;padding:0 5px}
.ui-iggrid-filterdialogaddcondition{padding-top:5px;padding-bottom:10px}
.ui-iggrid-filtertable{margin-top:8px}
.ui-iggrid-filtertable td{background-color:transparent!important;border:none!important;vertical-align:top;padding:2px 4px 2px 0}
.ui-iggrid-filterrow{background-color:#CCC;background-image:none}
.ui-iggrid td.ui-iggrid-filtercell{padding:0;margin:0;border:0 none;border-top:0;height:1.6em}
.ui-iggrid-filtercell input{border-top:1px solid #FFF;border-bottom:1px solid #FFF;padding:0;margin:0}
.ui-iggrid-filterdialogclearall{text-decoration:underline;background:0;border:0;font-size:13px;color:inherit}
.ui-iggrid .ui-iggrid-pagesizedropdown.ui-state-default,.ui-iggrid .ui-iggrid-pagedropdowncontainer.ui-state-default{background:#fff none;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.ui-iggrid .ui-igedit .ui-igedit-field{background:#fff none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.ui-iggrid .ui-igedit-list .ui-igedit-listitem{font-size:1em;line-height:1.4em}
.ui-iggrid .ui-igedit-field{padding:0 0 0 2px!important}
.touch .ui-iggrid-results .ui-igedit-container,.touchevents .ui-iggrid-results .ui-igedit-container,.pointerevents .ui-iggrid-results .ui-igedit-container,.touch .ui-iggrid-pagedropdowncontainer .ui-igedit-container,.touchevents .ui-iggrid-pagedropdowncontainer .ui-igedit-container,.pointerevents .ui-iggrid-pagedropdowncontainer .ui-igedit-container{width:5em!important}
.touch .ui-iggrid-pager .ui-igedit-container .ui-igedit-field,.touchevents .ui-iggrid-pager .ui-igedit-container .ui-igedit-field,.pointerevents .ui-iggrid-pager .ui-igedit-container .ui-igedit-field,.touch .ui-iggrid-results .ui-igedit-container .ui-igedit-field,.touchevents .ui-iggrid-results .ui-igedit-container .ui-igedit-field,.pointerevents .ui-iggrid-results .ui-igedit-container .ui-igedit-field,.touch .ui-iggrid-pager .ui-igedit-container .ui-igedit-button,.touchevents .ui-iggrid-pager .ui-igedit-container .ui-igedit-button,.pointerevents .ui-iggrid-pager .ui-igedit-container .ui-igedit-button,.touch .ui-iggrid-results .ui-igedit-container .ui-igedit-button,.touchevents .ui-iggrid-results .ui-igedit-container .ui-igedit-button,.pointerevents .ui-iggrid-results .ui-igedit-container .ui-igedit-button{height:1.4em!important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.touch .ui-iggrid-pager .ui-igedit-container .ui-igedit-field,.touchevents .ui-iggrid-pager .ui-igedit-container .ui-igedit-field,.pointerevents .ui-iggrid-pager .ui-igedit-container .ui-igedit-field,.touch .ui-iggrid-results .ui-igedit-container .ui-igedit-field,.touchevents .ui-iggrid-results .ui-igedit-container .ui-igedit-field,.pointerevents .ui-iggrid-results .ui-igedit-container .ui-igedit-field{width:3.4em!important}
.touch .ui-iggrid-pager .ui-igedit-container .ui-igedit-button,.touchevents .ui-iggrid-pager .ui-igedit-container .ui-igedit-button,.pointerevents .ui-iggrid-pager .ui-igedit-container .ui-igedit-button,.touch .ui-iggrid-results .ui-igedit-container .ui-igedit-button,.touchevents .ui-iggrid-results .ui-igedit-container .ui-igedit-button,.pointerevents .ui-iggrid-results .ui-igedit-container .ui-igedit-button{width:1.4em!important;padding:0!important}
.ui-iggrid-filterbutton{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -32px 0!important;border:1px solid transparent}
.ui-iggrid th .ui-iggrid-filterbutton,.ui-iggrid-filterbuttonright{background:url(../images/igGrid/filter-icons-FFFFFF.png) no-repeat -32px 0!important}
.ui-iggrid-filtericon{display:block;width:16px;height:16px}
.ui-iggrid-filtericonstartswith{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -112px 0}
.ui-iggrid-filtericondoesnotstartwith{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -128px 0}
.ui-iggrid-filtericonendswith{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -144px 0}
.ui-iggrid-filtericondoesnotendwith{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -160px 0}
.ui-iggrid-filtericoncontains{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -176px 0}
.ui-iggrid-filtericondoesnotcontain{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -192px 0}
.ui-iggrid-filtericonequals{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -208px 0}
.ui-iggrid-filtericondoesnotequal{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -224px 0}
.ui-iggrid-filtericongreaterthanorequalto{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -240px 0}
.ui-iggrid-filtericonlessthanorequalto{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -256px 0}
.ui-iggrid-filtericongreaterthan{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -272px 0}
.ui-iggrid-filtericonlessthan{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -288px 0}
.ui-iggrid-filtericonlike{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -304px 0}
.ui-iggrid-filtericonnotlike{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -320px 0}
.ui-iggrid-filtericonmatch{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -336px 0}
.ui-iggrid-filtericondoesnotmatch{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -352px 0}
.ui-iggrid-filtericontoppercentile{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -368px 0}
.ui-iggrid-filtericonbottompercentile{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -384px 0}
.ui-iggrid-filtericontrue{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -48px 0}
.ui-iggrid-filtericonfalse{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -64px 0}
.ui-iggrid-filtericonafter,.ui-iggrid-filtericonbefore,.ui-iggrid-filtericontoday,.ui-iggrid-filtericonyesterday,.ui-iggrid-filtericonthismonth,.ui-iggrid-filtericonlastmonth,.ui-iggrid-filtericonnextmonth,.ui-iggrid-filtericonthisyear,.ui-iggrid-filtericonlastyear,.ui-iggrid-filtericonnextyear,.ui-iggrid-filtericonon,.ui-iggrid-filtericonnoton{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -400px 0}
.ui-icon.ui-iggrid-icon-summaries{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -416px 0}
.ui-icon.ui-iggrid-icon-groupby{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -464px 0}
.ui-icon.ui-iggrid-icon-hide{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -448px 0}
.ui-iggrid-columnmoving-dropdown-list li .ui-icon,.ui-iggrid-columnmoving-dropdown-list li.ui-state-active .ui-icon{background-image:url(../images/igGrid/filter-icons-333333.png);background-repeat:no-repeat}
.ui-icon.ui-iggrid-icon-left{background-position:-511px 0}
.ui-icon.ui-iggrid-icon-right{background-position:-527px 0}
.ui-icon.ui-iggrid-icon-first{background-position:-543px 0}
.ui-icon.ui-iggrid-icon-last{background-position:-558px 0}
.ui-iggrid-featurechooser-list .ui-icon.ui-iggrid-featurechooser-li-iconcontainer,.no-svg .ui-iggrid-featurechooser-list .ui-icon.ui-iggrid-featurechooser-li-iconcontainer{background-image:url(../images/igGrid/touch-icons.png)!important;background-repeat:no-repeat;height:60px;width:60px;margin:0 auto}
.svg .ui-iggrid-featurechooser-list .ui-icon.ui-iggrid-featurechooser-li-iconcontainer{background-image:url(../images/igGrid/touch-icons.svg)!important}
.ui-iggrid-featurechooser-submenu{z-index:20000;background-color:#E5E5E5;border:1px solid #B1B1B1;padding:4px;-moz-box-shadow:0 0 10px grey;-webkit-box-shadow:0 0 10px grey;box-shadow:0 0 10px grey}
.ui-iggrid-featurechooser-submenuicon{height:15px;position:relative!important;margin:auto!important}
.ui-icon.ui-iggrid-icon-sort-a-z{background-position:0 0}
.ui-icon.ui-iggrid-icon-sort-z-a{background-position:-60px 0}
.ui-icon.ui-iggrid-icon-multiple-sorting{background-position:-120px 0}
.ui-icon.ui-icon.ui-iggrid-icon-summaries{background-position:-180px 0}
.ui-icon.ui-icon.ui-iggrid-icon-fix{background-position:-240px 0}
.ui-icon.ui-icon.ui-iggrid-icon-unfix{background-position:-300px 0}
.ui-icon.ui-icon.ui-iggrid-icon-groupby{background-position:-360px 0}
.ui-icon.ui-icon.ui-iggrid-icon-column-chooser{background-position:-420px 0}
.ui-icon.ui-icon.ui-iggrid-icon-resize{background-position:-480px 0}
.ui-icon.ui-icon.ui-iggrid-icon-move{background-position:-540px 0}
.ui-icon.ui-icon.ui-iggrid-icon-hide{background-position:-600px 0}
.ui-icon.ui-icon.ui-iggrid-icon-show{background-position:-660px 0}
.ui-icon.ui-icon.ui-iggrid-icon-advanced-filter{background-position:-720px 0}
.ui-iggrid-featurechooser-list-submenu{padding:5px}
.ui-iggrid-featurechooser-list-submenu li{margin-top:2px;cursor:pointer;font-weight:normal}
.ui-iggrid-filterdd,.ui-iggrid-featurechooser-dropdown-dialog,.ui-iggrid-hiding-dropdown-dialog,.ui-iggrid-columnmoving-dropdown-dialog,.ui-iggrid-summaries-dialog,.ui-igpivot-filterdropdown,.ui-igpivot-metadatadropdown{padding:1px;box-shadow:0 0 5px #555;z-index:20000}
.ui-iggrid-filterddlist li,.ui-iggrid-hiding-dropdown-list li,.ui-iggrid-columnmoving-dropdown-list li,.ui-iggrid-summaries-dropdown-listcontainer li{position:relative;cursor:default;border:0;padding-right:25px;padding-left:25px;line-height:1.5em;margin:2px 0!important}
.ui-iggrid-columnmoving-dropdown-list li{margin:2px 0}
.ui-iggrid-filtericoncontainer,.ui-iggrid-columnmovingiconcontainer{margin-left:-22px;margin-top:-8px;position:absolute;top:50%}
.ui-iggrid-columnmovingiconcontainer .ui-icon{top:0;left:0}
.ui-iggrid-featurechooser-li-iconcontainer{position:relative!important}
.ui-iggrid-featurechooser-li-container{float:left;text-align:center;padding:0 5px;cursor:pointer}
.ui-iggrid-featurechooser-secondaryicon-container{margin-top:-9px;position:absolute;right:3px;top:50%}
.ui-iggrid-featurechoosericoncontainer .ui-icon,.ui-iggrid-featurechooser-secondaryicon-container .ui-icon{position:static}
.ui-iggrid-filterddlist *,.ui-iggrid-columnmoving-dropdown-list *,.ui-iggrid-hiding-dropdown-list *,.ui-iggrid-featurechooser-list *{white-space:nowrap}
.ui-iggrid-canceltextselection{-moz-user-select:none;user-select:none}
.ui-iggrid-virtualrow td{padding:0 4px!important}
.ui-iggrid-resizing-handle{top:-100px;height:300px;background:transparent url(../images/igGrid/blank.png) no-repeat 0 0;z-index:100}
.ui-iggrid-resizing-handle-cursor{cursor:e-resize}
.ui-iggrid-resize-line{width:1px;background-color:black;position:absolute;z-index:2}
.ui-iggrid table tbody td.ui-iggrid-expandcolumn,.ui-iggrid .ui-iggrid-tablebody td.ui-iggrid-expandcolumn{padding:0!important}
.ui-iggrid-expandbuttoncontainer,.ui-iggrid-expandbuttoncontainer-group-by{width:30px;height:2em;display:block;margin:0}
.ui-iggrid-expandbutton{width:16px;height:16px;float:left;margin:20%}
.ui-iggrid-expandbuttongb{width:16px;height:16px}
.ui-iggrid-expandcolumn{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none}
.ui-iggrid .ui-iggrid-tablebody td.ui-iggrid-nongrouprowemptycell{border-top-width:0;border-bottom-width:0}
.ui-iggrid .ui-iggrid-tablebody td.ui-iggrid-last-emptycell{border-bottom-width:1px}
.ui-iggrid-groupexpandcell{float:left!important}
.ui-iggrid td.ui-iggrid-childarea{padding-left:34px}
.ui-iggrid-childarea-collapsed{padding-top:0!important;padding-bottom:0!important;border-width:0!important}
.ui-iggrid-childgridseparator{clear:both;display:block;margin:1.4em 0;height:0;border-top:1px dotted #000;border-bottom:1px dotted #FFF;opacity:.3;filter:alpha(opacity=30)}
.ui-tooltip,.ui-iggrid .ui-tooltip{background:none #fff;box-shadow:0 0 5px #AAA;padding:8px;z-index:9999;border-width:1px}
.ui-iggrid-columnmoving-dragtop{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -80px 4px}
.ui-iggrid-columnmoving-dragbottom{background:url(../images/igGrid/filter-icons-333333.png) no-repeat -96px -4px}
.ui-iggrid-columnmoving-dragtop.ui-iggrid-columnmoving-dragleft{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.ui-iggrid-columnmoving-dragbottom.ui-iggrid-columnmoving-dragleft{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.ui-iggrid-columnmoving-dragtop.ui-iggrid-columnmoving-dragright{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}
.ui-iggrid-columnmoving-dragbottom.ui-iggrid-columnmoving-dragright{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}
.ui-iggrid-moving-indicator{cursor:pointer;display:block;float:right;font-family:"Segoe UI",Arial,sans-serif;font-size:10px;height:16px;line-height:20px;text-align:center;width:16px;background:url(../images/igGrid/filter-icons-FFFFFF.png) no-repeat -576px 0}
.ui-iggrid th .ui-iggrid-summaries-header-icon.ui-icon{display:inline-block;float:right;background:transparent url(../images/igGrid/filter-icons-FFFFFF.png) no-repeat -416px 0}
.ui-iggrid-summaries-headerbuttoncontainer{float:right;border:1px solid transparent}
.ui-iggrid tfoot td.ui-state-default .ui-icon.ui-iggrid-icon-summaries{background:transparent url(../images/igGrid/filter-icons-333333.png) no-repeat -416px 0}
.ui-iggrid-summaries-footer-icon-container{float:left;border:1px solid transparent;width:16px;height:16px}
.ui-iggrid-summaries-dialog{z-index:20000;background-color:#fff;padding:6px 0}
.ui-iggrid-summaries-footer-text-container{font-size:.9em;margin-left:25px}
.ui-iggrid-footer-text-container{float:right}
.ui-iggrid-footer-icon-container{float:left}
.ui-igbutton-summaries-footer{width:10px;height:20px;border:solid 1px gray}
.ui-iggrid-summaries-footer-dialog-buttons-container{margin-top:6px;padding-left:25px;padding-right:6px}
.ui-iggrid tfoot td.ui-state-default,.ui-iggrid tfoot td.ui-state-hover,.ui-iggrid tfoot .ui-iggrid-footerextracell{background-image:none;text-shadow:none;border-top-width:0;border-left-width:0;padding:4px 0}
.ui-iggrid tfoot .ui-iggrid-footerextracell{border-right-width:1px;border-bottom-width:1px;border-style:solid}
.ui-iggrid tfoot tr:first-child td{border-top-width:1px}
.ui-iggrid tfoot td:first-child,.ui-iggrid tfoot .ui-iggrid-footerextracell{border-left-width:1px}
.ui-iggrid-summaries-dialog label{line-height:1.5em;margin-left:25px}
.ui-iggrid-summaries-dialog .ui-widget-content.ui-button,.ui-dialog .ui-widget-content.ui-button{border-width:1px}
.ui-iggrid-summaries-dialog .ui-igcheckbox-normal{position:absolute;top:50%;margin-top:-9px}
.ui-iggrid-footertable{table-layout:fixed;width:100%;border-collapse:separate;background-color:#fff}
.ui-iggrid .ui-iggrid-footertable{border:0}
.ui-iggrid-groupbydroppableedge{opacity:.5}
.ui-iggrid-groupbyarea{background-color:#EEE;border-bottom:1px solid #999;border-top:1px solid #EEE;border-left:1px solid #EEE;border-right:1px solid #EEE;color:#333;padding-left:5px;padding-bottom:5px;position:relative;overflow:hidden;min-height:4em}
.ui-iggrid-groupbyareahover{border:1px solid #999}
.ui-iggrid-nodrop{cursor:not-allowed!important}
.ui-iggrid-grouparealist{display:inline;list-style-type:none;padding-bottom:0;margin-bottom:0;padding-left:0;margin-left:0}
.ui-iggrid-grouparealist li,.ui-iggrid-grouparealist li.ui-state-default{display:inline;border-width:0;padding-left:.4em;line-height:1.6em;height:1.6em;overflow-y:hidden}
.ui-iggrid-grouparealist li span{cursor:pointer}
.ui-iggrid-groupedcolumnlabel,.ui-iggrid-groupedcolumnlabel.ui-state-default{border:0 none}
.ui-iggrid-groupedcolumnlabel .ui-icon{float:right;position:relative;top:50%;margin-top:-8px}
.ui-iggrid-groupbyareatext{display:block;margin:.4em 0;text-align:center}
.ui-iggrid-groupbylabelrightedge,.ui-widget .ui-iggrid-groupbylabelrightedge.ui-state-default{float:left;height:1.6em;width:.85em;border:0;background:transparent url(../images/igGrid/group-by-label-right-edge.png) no-repeat right center;padding-left:0!important;opacity:.30;-ms-filter:"alpha(opacity=30)";filter:alpha(opacity=30);-khtml-opacity:.30;-moz-opacity:.30}
.ui-iggrid-groupbylayoutlabel{font-style:italic;letter-spacing:1px;padding-right:10px;border-right:1px solid;margin-right:10px;line-height:1.6em;opacity:.40;-ms-filter:"alpha(opacity=40)";filter:alpha(opacity=40);-khtml-opacity:.40;-moz-opacity:.40}
.ui-iggrid-groupbylabelrightedge+.ui-iggrid-groupedcolumnlabel{margin-left:-1.4em;padding-left:2em;border-left:none}
.ui-iggrid-groupbylabelrightedgeend,.ui-iggrid-groupbylabelrightedgeend.ui-state-default{background:none transparent;float:right;border-color:#EEE #EEEEEE #EEE transparent;border-style:solid;border-width:.85em 0 .86em .85em;height:0;width:0}
.ui-iggrid-groupedcolumnlabel span:first-child+span{float:left}
.ui-iggrid-rowselector-class{font-weight:normal}
.ui-iggrid-rowselector-class .ui-igcheckbox-normal,.ui-iggrid-rowselector-header .ui-igcheckbox-normal{float:right}
.ui-iggrid-rowselector-class .ui-iggrid-rowselector-row-number{float:left}
.ui-iggrid th.ui-iggrid-rowselector-class .ui-icon{float:left;margin-right:.2em;opacity:0;filter:alpha(opacity=0)}
.ui-iggrid th.ui-iggrid-rowselector-class.ui-state-active .ui-icon,.ui-iggrid .ui-ig-altrecord th.ui-iggrid-rowselector-class.ui-state-active .ui-icon{opacity:1;filter:alpha(opacity=100)}
.ui-iggrid-columnchooser-handlebar{height:15px}
.ui-iggrid-hiding-hiddencolumnindicator{top:-100px;height:300px;background-color:transparent;background-image:url(../images/igGrid/diagonals-medium.png);opacity:.3;filter:alpha(opacity=30);cursor:pointer}
.ui-iggrid-hiding-indicator{float:right;display:block;width:16px;height:16px;line-height:13px;font-size:20px;text-align:center;font-family:"Segoe UI",Arial,sans-serif;cursor:pointer;margin-top:-1px}
.ui-dialog .ui-iggrid-columnchooser-caption.ui-dialog-titlebar{padding-right:30px}
.ui-dialog-title.ui-iggrid-columnchooser-caption-title{white-space:nowrap;overflow:hidden;width:100%;margin-right:0;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.ui-dialog .ui-iggrid-columnchooser-content th{text-align:left;padding:0 4px;font-size:.85em;text-transform:uppercase}
.ui-dialog .ui-iggrid-columnchooser-content td{white-space:nowrap;padding:0 4px}
.ui-iggrid-editingcell{text-align:left!important;vertical-align:top!important;padding:4px;line-height:normal}
.ui-iggrid-editor{position:absolute;padding:0!important;margin-right:0;margin-bottom:0}
.ui-widget-content.ui-iggrid-buttoncontainer{white-space:nowrap;z-index:1;-moz-box-shadow:0 0 5px #555;-webkit-box-shadow:0 0 5px #555;box-shadow:0 0 5px #555;border-width:1px;border-style:solid}
.ui-iggrid-button{display:inline-block;cursor:default;margin:5px;padding:0;white-space:nowrap}
td.ui-iggrid-addrow{text-align:left;position:relative;cursor:default;font-weight:normal;white-space:nowrap;padding:4px}
.ui-iggrid-addrow .ui-icon{margin-right:5px;float:none}
.ui-iggrid-button .ui-icon{float:none;width:16px;height:16px;margin-left:6px;margin-top:-8px;position:absolute;top:50%}
.ui-iggrid-button .ui-icon+span{padding:3px 12px 5px 25px}
.ui-iggrid-deletebutton{cursor:pointer;box-sizing:initial!important;left:51%}
.ui-iggrid-button-icon-only,.ui-iggrid-deletebutton{display:inline-block;white-space:nowrap;width:16px;height:16px;padding:3px!important;z-index:1}
.ui-iggrid-button-icon-only .ui-icon,.ui-iggrid-deleteicon{float:none;position:absolute;margin-top:-8px;margin-left:-8px;top:50%;left:50%}
.ui-iggrid-deletebutton .ui-icon{font-size:16px!important}
.ui-iggrid-deletedrecord th,.ui-iggrid-deletedrecord td{opacity:.5;filter:alpha(opacity=50);text-decoration:line-through;font-style:italic}
.ui-iggrid .ui-igedit-disabled,.ui-iggrid .ui-igcombo-disabled{opacity:1;filter:alpha(opacity=100);color:#d0d0d0}
.ui-iggrid-modifiedrecord>td{font-style:italic}
*:first-child+html .ui-iggrid-deleteicon,*:first-child+html .ui-iggrid-addrowicon{display:block!important}
*:first-child+html .ui-iggrid-addrowicon{float:left}
.ui-iggrid .ui-state-highlight,.ui-iggrid-mergedcell.ui-state-highlight{border-top-color:transparent;border-bottom-color:transparent}
.ui-iggrid-mergedcell,.ui-iggrid-mergedcell.ui-state-highlight{color:#aaa}
.ui-iggrid .ui-iggrid-mergedcellsbottom.ui-state-highlight,.ui-iggrid .ui-ig-altrecord .ui-iggrid-mergedcellsbottom.ui-state-highlight{border-bottom-color:#bbb}
.ui-iggrid .ui-iggrid-mergedcell.ui-iggrid-mergedcellsbottom{border-bottom-color:#aaa}
.ui-iggrid-featurechooser-headercontainer{float:right}
.ui-iggrid-featurechooser-list{float:left}
.ui-iggrid-featurechooser-list li,.touch .ui-iggrid-featurechooser-list.ui-menu li,.touchevents .ui-iggrid-featurechooser-list.ui-menu li,.pointerevents .ui-iggrid-featurechooser-list.ui-menu li{display:inline-block;float:left;max-width:70px;text-align:center;overflow:hidden;height:94px;line-height:1.2em;font-size:11px}
.ui-iggrid-featurechooser-list li.ui-state-default{background-color:transparent}
.ui-iggrid-featurechooser-list li.ui-state-default:hover,.ui-iggrid-featurechooser-list li.ui-state-hover{background-color:#EEE}
.ui-iggrid-featurechooser-list .ui-icon,.ui-iggrid-hiding-dropdown-list .ui-icon,.ui-iggrid-columnmoving-dropdown-list .ui-icon{opacity:.6;filter:alpha(opacity=60)}
.ui-iggrid-featurechooser-list .item-selected .ui-icon,.ui-iggrid-hiding-dropdown-list .item-selected .ui-icon,.ui-iggrid-columnmoving-dropdown-list .item-selected .ui-icon{opacity:1;filter:alpha(opacity=100)}
.ui-iggrid-featurechooser-list .ui-iggrid-featurechooserddlistitemtext,.ui-iggrid-hiding-dropdown-list .ui-iggrid-hiding-dropdown-ddlistitemtext,.ui-iggrid-columnmoving-dropdown-list .ui-iggrid-columnmoving-dropdown-ddlistitemtext{font-weight:normal;white-space:normal}
.ui-iggrid-featurechooser-list .item-selected .ui-iggrid-featurechooserddlistitemtext,.ui-iggrid-hiding-dropdown-list .item-selected .ui-iggrid-hiding-dropdown-ddlistitemtext,.ui-iggrid-columnmoving-dropdown-list .item-selected .ui-iggrid-columnmoving-dropdown-ddlistitemtext{font-weight:bold}
.ui-iggrid-featurechooser-list li.ui-iggrid-featurechooser-separator,.touch .ui-iggrid-featurechooser-list li.ui-iggrid-featurechooser-separator,.touchevents .ui-iggrid-featurechooser-list li.ui-iggrid-featurechooser-separator,.pointerevents .ui-iggrid-featurechooser-list li.ui-iggrid-featurechooser-separator{background-color:#BBB;border-right:1px solid #333;float:left;font-size:1%;width:1px;height:74px;margin:10px 5px;opacity:.2}
.ui-iggrid-featurechooserddlistitemtext{display:block}
.ui-iggrid-columnchooser-listitems,.ui-iggrid-sorting-dialog-unsortedcolumns-list,.ui-iggrid-moving-dialog-columns ul,.ui-iggrid-groupby-dialog-ungroupedcolumns ul,.ui-iggrid-groupby-dialog-groupedcolumns ul,.ui-iggrid-sorting-dialog-sortedcolumns ul,.ui-iggrid-sorting-dialog-sortedcolumns ul,.ui-iggrid-sorting-dialog-unsortedcolumns ul{line-height:2.5em;list-style-type:none;padding:0;margin:0;white-space:nowrap;cursor:pointer;-khtml-user-select:none;-moz-user-select:none;-o-user-select:none;-ms-user-select:none}
.ui-iggrid-modaldialog-caption-buttoncontainer{display:block;float:right;font-size:.75em}
.ui-iggrid-columnchooser-itemhidden,.ui-iggrid-columnchooser-itemhidden a{color:Gray}
.ui-iggrid-columnchooser-text{margin:0 0 0 5px}
.ui-iggrid-modaldialog-content{margin:0;padding:0}
.ui-iggrid-dialog-text{padding:0 0 0 1em}
.ui-iggrid-groupby-dialog-groupedcolumns,.ui-iggrid-groupby-dialog-ungroupedcolumns,.ui-iggrid-moving-dialog-columns .ui-iggrid-dialog-sortedcolumns,.ui-iggrid-dialog-unsortedcolumns,.ui-iggrid-dialog-unsortedcolumns ul,.ui-iggrid-dialog-sortedcolumns ul{width:100%}
.ui-iggrid-groupby-dialog-groupedcolumns li,.ui-iggrid-groupby-dialog-ungroupedcolumns li,.ui-iggrid-moving-dialog-columns li,.ui-iggrid-dialog-sortedcolumns li,.ui-iggrid-dialog-unsortedcolumns li,.ui-iggrid-dialog-unsortedcolumns li,.ui-iggrid-dialog-sortedcolumns li,.ui-iggrid-sorting-dialog-sortedcolumns li,.ui-iggrid-sorting-dialog-unsortedcolumns li,.ui-iggrid-columnchooser-item{position:relative;height:2.5em;border-width:0 0 1px 0;background:transparent none}
.ui-iggrid-dialog-unsortedcolumns ul li,.ui-iggrid-dialog-sortedcolumns ul li{margin:0;padding:0}
.ui-iggrid-dialog-unsortedcolumns-sortbybutton a,.ui-iggrid-dialog-groupby-button a,.ui-iggrid-columnchooser-item a,.ui-iggrid-sorting-dialog-unsortedcolumns-sortbybutton a{text-decoration:none;cursor:pointer;font-size:.8em}
.ui-iggrid-dialog-ascdescbutton-selected span{border-color:Red}
.ui-iggrid-multiplesorting-dialog-slide{margin:0 auto;padding:0;border-width:1px 0 0 0;background:transparent none}
.ui-iggrid-multiplesorting-dialog-slide-button-container{text-align:center;padding:0;margin:0 auto;display:block;font:bold 120%/100% Arial,Helvetica,sans-serif;color:black;text-decoration:none}
.ui-iggrid-dialog-sortedcolumns-list{margin:0;padding:0}
.ui-iggrid-dialog-sortedcolumns-list li{list-style-type:none;margin:12px 0;padding:12px 0}
.ui-iggrid-dialog-unsortedcolumns-list{margin:0;padding:0}
.ui-iggrid-dialog-unsortedcolumns-list li{list-style-type:none;padding:0 0 5px 0}
.ui-iggrid-groupby-dialog-groupedcolumns .ui-iggrid-dialog-groupedbuttons,.ui-iggrid-sorting-dialog-sortedcolumns .ui-iggrid-sorting-dialog-sortbybuttons{line-height:1.3em;width:1.8em;float:right;position:absolute}
.ui-iggrid-multiplesorting-dialog-slide .ui-iggrid-sorting-dialog-button-slide{height:.8em;width:4em}
.ui-igbutton-remove{position:absolute;right:0;top:50%;margin-top:-0.9em}
.ui-iggrid-dialog-button-slide{height:20px;line-height:20px}
.ui-iggrid-groupby-dialog-tree .ui-igtree-root{margin-top:.3em;margin-bottom:.3em;margin-right:1em}
.ui-iggrid-dialog-layouts-dd-field{float:left}
.ui-iggrid-dialog-layouts-dd-button{float:left}
.ui-iggrid-dialog-layouts-dd{float:left;margin-left:5px}
.ui-iggrid-groupby-dialog-layoutscontainer{margin-bottom:1em}
.ui-iggrid-groupby-dialog-groupedcolumns .ig-sorting-indicator,.ui-iggrid-sorting-dialog-sortedcolumns .ig-sorting-indicator{float:left;position:relative;top:50%;margin-top:-1em;height:2em;width:3.8em}
.ui-iggrid-dialog-groupby-button,.ui-iggrid-columnchooser-hidebutton,.ui-iggrid-sorting-dialog-unsortedcolumns-sortbybutton{clear:left;float:left;min-width:3.8em;display:block;margin-top:-1.3em;position:relative;top:50%}
.ui-iggrid-columnchooser-hidebutton{display:block;clear:left;float:left;min-width:2em}
.ui-iggrid-dialog-layouts-dd-field{padding:0 1.5em 0 .5em;overflow:hidden}
.ig-combo-icon-container{position:relative}
.ig-combo-icon-container a{position:absolute;top:50%;margin-top:-8px;right:.2em}
.ui-iggrid th.ui-iggrid-multiheader-cell{text-align:center}
.ui-iggrid-multiheader-expanded{cursor:pointer;display:block;float:left;font-family:"Segoe UI",Arial,sans-serif;font-size:10px;height:16px;line-height:20px;text-align:center;width:16px;background:url(../images/igGrid/filter-icons-FFFFFF.png) no-repeat 0 0}
.ui-iggrid-multiheader-collapsed{cursor:pointer;display:block;float:left;font-family:"Segoe UI",Arial,sans-serif;font-size:10px;height:16px;line-height:20px;text-align:center;width:16px;background:url(../images/igGrid/filter-icons-FFFFFF.png) no-repeat -16px 0}
div.ui-iggrid-indicatorcontainer.ui-iggrid-collapsibleindicatorcontainer,div.ui-iggrid-indicatorcontainer.ui-iggrid-collapsibleindicatorcontainer a{float:left}
.ui-iggrid-fixedcontainer{background-color:#f3f3f3;border-bottom:1px solid #DCDCDC}
.ui-iggrid-fixedcontainer-left{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-right:2px solid #555!important}
.ui-iggrid-fixedcontainer-right{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;border-left:2px solid #555!important}
.ui-iggrid-fixcolumn-headerbuttoncontainer{float:right}
.ui-iggrid-fixedcontainer-right .ui-iggrid-table>tbody>tr>td:last-child,.ui-iggrid .ui-iggrid-table.ui-iggrid-unfixed-table-left>tbody>tr>td:first-child{border-left-width:0!important}
.ui-iggrid-fixedcontainer-left .ui-iggrid-table>tbody>tr>td:last-child,.ui-iggrid .ui-iggrid-table.ui-iggrid-unfixed-table-right>tbody>tr>td:first-child{border-right-width:0!important}
.ui-iggrid-responsive-vertical tr>td:first-child{font-weight:bold}
.touch .ui-iggrid th .ui-iggrid-indicatorcontainer a,.touchevents .ui-iggrid th .ui-iggrid-indicatorcontainer a,.pointerevents .ui-iggrid th .ui-iggrid-indicatorcontainer a{padding:0 5px}
.touch .ui-iggrid .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer+.ui-igedit,.touchevents .ui-iggrid .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer+.ui-igedit,.pointerevents .ui-iggrid .ui-iggrid-filtercell .ui-iggrid-indicatorcontainer+.ui-igedit,.touch .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child,.touchevents .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child,.pointerevents .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child{height:2.4em!important}
.touch .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child,.touchevents .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child,.pointerevents .ui-iggrid-filtercell .ui-igedit-container .ui-igedit-button:first-child{width:2em!important;margin-left:-2.4em}
.touch .ui-menu li,.touchevents .ui-menu li,.pointerevents .ui-menu li{line-height:2.4em}
.touch .ui-iggrid table tbody td,.touchevents .ui-iggrid table tbody td,.pointerevents .ui-iggrid table tbody td,.touch .ui-iggrid .ui-iggrid-header,.touchevents .ui-iggrid .ui-iggrid-header,.pointerevents .ui-iggrid .ui-iggrid-header,.touch .ui-iggrid table th,.touchevents .ui-iggrid table th,.pointerevents .ui-iggrid table th,.touch .ui-iggrid .ui-iggrid-filtereditor,.touchevents .ui-iggrid .ui-iggrid-filtereditor,.pointerevents .ui-iggrid .ui-iggrid-filtereditor{padding:.4em}
.touch .ui-iggrid .ui-iggrid-results,.touchevents .ui-iggrid .ui-iggrid-results,.pointerevents .ui-iggrid .ui-iggrid-results,.touch .ui-iggrid .ui-iggrid-paging,.touchevents .ui-iggrid .ui-iggrid-paging,.pointerevents .ui-iggrid .ui-iggrid-paging{font-size:1.2em}
.touch .ui-iggrid-pagelist li,.touchevents .ui-iggrid-pagelist li,.pointerevents .ui-iggrid-pagelist li{margin:0 .2em}
.touch .ui-iggrid-button,.touchevents .ui-iggrid-button,.pointerevents .ui-iggrid-button{font-size:1.3em}
.touch .ui-iggrid-expandbuttoncontainer,.touchevents .ui-iggrid-expandbuttoncontainer,.pointerevents .ui-iggrid-expandbuttoncontainer,.touch .ui-iggrid-expandbuttoncontainer-group-by,.touchevents .ui-iggrid-expandbuttoncontainer-group-by,.pointerevents .ui-iggrid-expandbuttoncontainer-group-by{display:table-cell;height:3.6em;vertical-align:middle}
.touch .ui-iggrid-expandbutton,.touchevents .ui-iggrid-expandbutton,.pointerevents .ui-iggrid-expandbutton{margin:1em 20%}
.touch .ui-iggrid tbody td.ui-iggrid-childarea,.touchevents .ui-iggrid tbody td.ui-iggrid-childarea,.pointerevents .ui-iggrid tbody td.ui-iggrid-childarea{padding-left:34px}
.ui-iggrid-featurechooser-list-submenu{padding:4px;overflow:hidden;font-size:14px;line-height:26px;background-color:#fff;background-image:none;min-width:60px;color:#333;font-weight:normal;border:0}
.ui-iggrid-featurechooser-list-submenu li.ui-state-default,.ui-iggrid-featurechooser-list-submenu li.ui-state-hover{background:transparent none;color:#333;border:0;text-shadow:none;padding:5px}
.ui-iggrid-featurechooser-list-submenu li.ui-state-hover{background:#eee}